
<% if conversation %>
	<div class="message-history">
		<% conversation.ordered_messages.each do |message| %>
			<%= render partial: 'show', locals: {message: message} %>
		<% end %>
	</div>
	<div class="message-form">
		<% puts @message; puts "\n" * 10 %>
		<%= form_for [conversation, new_message], remote: true do |f| %>
			<%= f.text_area :body, id: 'chat-box' %>
			<%= f.submit :class => :hidden %>
		<% end %>
		<%= image_tag current_user.profile_pic_url, id: "chat-box-pic" %>


			<div id="message-actions">
						<%= link_to new_user_event_path(other_user), :class => "white invite-user", remote: true do %>
					<div class="action-button white message-invite inv-btn mes-action">
							<%= image_tag "events-white.svg", :class => "action-icon" %>
							<div class="result-action">INVITE</div>
						
					</div>
					<div class="sending-progress gray head-3 hidden">
						Sending...
					</div>
					<% end %>
					<div class="action-button white message-reply inv-btn mes-action reply">
						<div class="result-action hit-reply">REPLY</div>
					</div>
			</div>
		</div>
<% end %>
<script>
  $(document).ready(function(){
  	  $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');

    $.get(imgURL, function(data) {
        // Get the SVG tag, ignore the rest
        var $svg = $(data).find('svg');

        // Add replaced image's ID to the new SVG
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        // Add replaced image's classes to the new SVG
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }
        // Remove any invalid XML tags as per http://validator.w3.org
        $svg = $svg.removeAttr('xmlns:a');
        // Replace image with new SVG
        $img.replaceWith($svg);
    }, 'xml');
  });
  	})
</script>

