<% if current_user.ordered_conversations.length > 0 %>
<div id="messages-container">
	<div class="message-content-container">
		<div class="message-content">
			<div id="conversations">
				<% current_user.ordered_conversations.each do |convo| %>

					<% user = convo.get_other_user current_user %>
					<% if user %>
						<div class="conversation" id="<%= user.id %>">
							<%= link_to other_user_path(user), :class => "other-user", remote: true do %>
								<% if current_user.conversated_with? user %>
									<%= image_tag user.profile_pic_url || 'Cliq.svg', :class => "convo-pic #{user.color}" %>
								<% else %>
									<%= image_tag 'Cliq.svg', :class => "convo-pic #{user.color}" %>
								<% end %>
							<% end %>
							<%= link_to conversation_path(convo), :class => "convo-link", remote: true do %>
								<div class="convo-details">
									<div class="convo-name head-5"><%= user.first_name %></div>
									<div class="convo-date head-5"><%= convo.date current_user %></div>
									<div class="convo-school head-6 light-gray"><%= user.school %><%= "Random School" if !user.school %></div>
									<div class="convo-last-message head-5 gray"><%= convo.last_message %></div>
								</div>
							<% end %>
							<div class="convo-block head-5"><a class="block" data-confirm="This user will no longer be able to send you messages or invites. Are you sure you want to block <%= user.first_name %>?" data-remote="true" href="<%= block_user_path user %>">Block</a></div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
		<div id="thread-container">
			<div id="messages-box">
			</div>
		</div>
	</div>
	<div id="invite-modal-container" class="modal"></div>
	<script>
		$($('.conversation')[0]).addClass('current')
		$($('.convo-link')[0]).click()
	</script>
</div>
<% end %>

<% if current_user.email[-7..-1] != "ucf.edu" && !current_user.admin?  %>
		<div id="activation-container" class="welcome-container">
			<div id="welcome-form" class="dark-gray">
				<p id="top-welcome" class="head-4"><span class="heavy">We're now requiring all users to validate their accounts with valid UCF emails. This helps better ensure your privacy and security. Thanks!</p>
					
				<p id="bottom-welcome" class="head-5 gray">Please Enter a valid UCF email to continue.</p>

				<%= form_tag welcome_update_path, :class => "welcome-form", remote: true do %>
					<%= text_field_tag :email, nil, :class=> "welcome-email" %>
				<% end %>

				<div id="got-it" class="head-4">Okay, got it!</div>
			</div>
		</div>
	<% end %>

	<script>
	$('.content-container').removeClass('landing')
</script>