<% p current_user; puts "\n" * 50 %>
<% if current_user.ordered_conversations.length > 0 %>
<div id="messages-container">
	<div class="message-content-container">
		<div class="message-content">
			<div id="conversations">
				<% current_user.ordered_conversations.each do |convo| %>

					<% user = convo.get_other_user current_user %>

					<div class="conversation" id="<%= user.id %>">
						<%= link_to other_user_path(user), :class => "other-user", remote: true do %>
							<% if current_user.conversated_with? user %>
								<%= image_tag user.profile_pic_url || 'cliq.png', :class => "convo-pic" %>
							<% else %>
								<%= image_tag 'cliq.png', :class => "convo-pic" %>
							<% end %>
						<% end %>
						<%= link_to conversation_path(convo), :class => "convo-link", remote: true do %>
							<div class="convo-details">
								<div class="convo-name head-5"><%= user.first_name %></div>
								<div class="convo-date head-5"><%= convo.date current_user %></div>
								<div class="convo-school head-6 light-gray"><%= user.school %><%= "Random School" if !user.school %></div>
								<div class="convo-last-message head-5 gray"><%= convo.last_message %></div>
							</div>
						<% end %>
						<div class="convo-block head-5"><a class="block" data-confirm="This user will no longer be able to send you messages or invites. Are you sure you want to block <%= user.first_name %>?" data-remote="true" href="<%= block_user_path user %>">Block</a></div>
					</div>
				<% end %>
			</div>
		</div>
		<div id="thread-container">
			<div id="messages-box">
		<%= render partial: 'chat_history', locals: {conversation: @conversation, other_user: @other_user, new_message: @message} %>
			</div>
		</div>
	</div>
	<div id="invite-modal-container" class="modal"></div>
	<script>
		$($('.conversation')[0]).addClass('current')
	</script>
</div>
<% end %>