<%= render partial: "users/side_nav", locals: {active: :events} %>


<div class="content-container">
	<div id="events-header">
		<div id="events-header-actions">
			<div class="head-4 green" id="event-status">Status: Active</div>
			<div class="head-4 white selected" id="event-upcoming">Upcoming</div>
			<div class="head-4 white" id="event-past">Past</div>
		</div>
	</div>

	<div id="events-container">

		<div id="invites">
			<div id="invites-header" class="head-4 dark-gray">Invites</div>

			<% @invitations.each do |invite| %>
				<div class="invite">
					<div class="invite-header"> 
						<%= image_tag User.last.profile_pic_url, :class => "invite-creator" %>
						<div class="invitation-creator-info">
							<div class="head-5 invite-creator-name dark-gray">
								<%= invite.creator.name %>
							</div>
							<div class="head-6 light-gray invitation">
								invited you to:
							</div>
						</div>
					</div>
<!-- change user.last to invite.creator later -->
					<div class="invite-pic">
						<%= image_tag "avengers.jpg", :class => "event-picture" %>
					</div>

					<div class="invite-info">
						<div class="invite-title invite-row">
							<%= invite.title %>
						</div>


						<div class="head-5 light-gray invite-time invite-row">
							<%= invite.time %>
						</div>

						<div class="head-5 light-gray invite-location invite-row">
							<%= invite.location %>
						</div>

						<div class="head-6 invite-quantity invite-row">
							with <%= invite.quantity %> others
						</div>

						<div class="invite-row invite-actions">
							<%= link_to user_accept_path(current_user, invite), remote: true, :class => "invite-action" do %>
								<div class="accept white">Accept</div>
							<% end %>

							<%= link_to user_pass_path(current_user, invite), remote: true, :class => "invite-action" do %>
							<div class="pass red">Pass</div>
							<% end %>
						</div>
					</div>

				</div>
			<% end %>
		</div>


		<div id="upcoming">
			<div id="upcoming-header" class="head-4 dark-gray">Upcoming Events:</div>
			
			<% @events.each do |event| %>
				<div class="upcoming-event">
					
					<div class="upcoming-event-picture">
						<%= image_tag "avengers.jpg", :class => "event-picture" %>
					</div>
					
					<div class="upcoming-event-info">
						
						<div class="upcoming-event-title invite-row">
							<%= event.title %>
						</div>

						<div class="white upcoming-event-time invite-row">
							<%= event.time %>
						</div>

						<div class="gray upcoming-event-location invite-row">
							<%= event.location %>
						</div>

						<div class="upcoming-event-others invite-row">
							<% event.users.take(2).each do |user| %>
								<%= image_tag User.last.profile_pic_url, :class => "attendee" %>
								<div class="attendee-name"><%= user.name %></div>
							<% end %>
						</div>

						<div class="upcoming-event-quantity invite-row">
							<% if event.attendees.length < 0 %>
								and <%= event.attendees.length %> others
							<% end %>
						</div>
					</div>
				</div>
			<% end %>
			
		</div>
	<div>
</div>