<div class="chat-partial">
	<div id="<%= @other_user.id %>"></div>
	<div id="chat-partial-content">

		<div id="chat-header">
			<% if current_user.conversated_with? @other_user %>
					<%= image_tag @other_user.profile_pic_url, id: "chat-pic" %>
				<% else %>
					<%= image_tag 'cliq.png', id: "chat-pic" %>
				<% end %>
			<div id="chat-info">
				<div id="chat-name"><%= @other_user.first_name %></div>
				<div id="chat-school"><%= @other_user.school || "Some Random School" %></div>
				<div id="chat-similarities">
					<%= current_user.similarities_with @other_user%> Shared Interests
				</div>
				<div class="chat-collapse">
					Collapse ->
				</div>
			</div>
		</div>


		<div class="message-history">
			<% @conversation.ordered_messages.each do |message| %>
				<%= render partial: 'messages/show', locals: {message: message} %>
			<% end %>
		</div>
	<div class="chat-window-footer">	
		<%= form_for [@conversation, @message], remote: true do |f| %>
			<%= f.text_area :body, id: 'chat-box', :class => "chat-box" %>
		<% end %>
		<%= image_tag current_user.profile_pic_url, id: "chat-box-pic" %>

		<div id="message-actions">
				<%= link_to new_user_event_path(@other_user), :class => "white invite-user", remote: true do %>
					<div class="action-button white message-invite inv-btn mes-action">
							<%= image_tag "Events.svg", :class => "action-icon svg" %>
							<div class="result-action">INVITE</div>
						
					</div>
					<div class="sending-progress gray head-3 hidden">
						Sending...
					</div>
					<% end %>
				<div class="action-button white message-reply inv-btn mes-action reply">
					<div class="result-action hit-reply">REPLY</div>
				</div>


		</div>
	</div>
	</div>
</div>

<div class="collapsed-chat hidden" id="u-<%= @other_user.id %>">
	<div class="collapsed-name">
		<- <%= @other_user.first_name %>
		<%= image_tag 'XClose.svg', class: 'close' %>
	</div>
</div>


<script>
$(document).ready(function(){
	$('.message-history')[0].scrollTop = $('.message-history')[0].scrollHeight
})
</script>
<script>
  $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');

    $.get(imgURL, function(data) {
        // Get the SVG tag, ignore the rest
        var $svg = $(data).find('svg');

        // Add replaced image's ID to the new SVG
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        // Add replaced image's classes to the new SVG
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }
        // Remove any invalid XML tags as per http://validator.w3.org
        $svg = $svg.removeAttr('xmlns:a');
        // Replace image with new SVG
        $img.replaceWith($svg);
    }, 'xml');
  });
</script>

