<script>
	$('.menu-icon').hide()
	$('.top-nav').append("<span class='back-tut close-chat'>Back</span>")
</script>




<div class="chat-partial">
	<div id="<%= @other_user.id %>"></div>
	<div id="chat-partial-content">

<div class="message-history mobile">
	<% @conversation.ordered_messages.each do |message| %>
		<%= render partial: 'messages/show', locals: {message: message} %>
	<% end %>
</div>

	<div class="message-form mobile">
		<%= form_for [@conversation, @message], remote: true do |f| %>
			<%= f.text_area :body, id: 'chat-box' %>
		<% end %>
		<div id="message-actions">
			<div class="action-button dark-gray message-reply inv-btn mes-action">
				<div class="result-action reply">Send</div>
			</div>
		</div>
	</div>

	<script>
		$('.messages .counter').text(<%= current_user.message_count %>)
		<% if current_user.message_count < 1 %>
			$('.messages .counter').addClass("hidden")
		<% end %>
	</script>
	</div>
</div>

<script>
$(document).ready(function(){
	$('.message-history')[0].scrollTop = $('.message-history')[0].scrollHeight
})
</script>

