<div class="chat-partial">
	<div id="<%= @other_user.id %>"></div>
	<div id="chat-partial-content">

		<div id="chat-header">
			<%= image_tag @other_user.profile_pic_url || User.last.profile_pic_url, id: "chat-pic" %>
			<div id="chat-info">
				<div id="chat-name"><%= @other_user.name %></div>
				<div id="chat-school"><%= @other_user.school || "Some Random School" %></div>
				<div id="chat-similarities">
					<%= current_user.similarities_with @other_user%> Shared Interests
				</div>
				<div class="chat-collapse">
					Collapse ->
				</div>
			</div>
		</div>


		<div id="message-history">
			<% @conversation.ordered_messages.each do |message| %>
				<%= render partial: 'messages/show', locals: {message: message} %>
			<% end %>
		</div>

		<%= form_for [@conversation, @message], remote: true do |f| %>
			<%= f.text_area :body, id: 'chat-box' %>
		<% end %>
		<%= image_tag current_user.profile_pic_url, id: "chat-box-pic" %>

		<div id="message-actions">
			<div class="action-button white message-invite">
				<%= image_tag "Events.svg", :class => "action-icon" %>
				<%= link_to new_user_event_path(@other_user), :class => "white invite-user", remote: true do %>
					<div class="result-action">INVITE</div>
				<% end %>
			</div>
			<div class="action-button white message-reply">
				<div class="result-action reply">REPLY</div>
			</div>
		</div>
	</div>
</div>

<div class="collapsed-chat hidden">
	<div class="collapsed-name"><- <%= @other_user.name %></div>
</div>


