<div id="no-one-around" class="no-one-around">
	<div id="pre-invite" class="pre-invite"> 
		<% if !results %>
			<p id="no-one-text" class="head-2 dark-gray">There seems to be no one around. Try searching for other interests or invite your friends to join Cliq!</p>

			<% if !browser.mobile? %>
				<p id="no-one-text" class="head-2 dark-gray">You can also<%= link_to "add", choose_cat_path(category), :class => "add light-turq" %>more interests to widen your pool of matches!</p>
			<% else %>
				<p id="no-one-text" class="head-2 dark-gray">You can also<%= link_to "add", user_path(current_user), :class => "add light-turq" %>more interests to widen your pool of matches!</p>
			<% end %>
		<% else %>
			<p id="no-one-text" class="head-2 dark-gray">You've passed on quite a few people, why not take a break and invite a friend?</p>
		<% end %>

		<div id="cliq-invite" class="head-2 cliq-invite">Invite</div>
		<% if results %>
			<div class="head-2 cliq-skip">Skip</div>
		<% end %>
	</div>

	<div id="post-invite" class="hidden post-invite">
		<div id="post-invite-content">
			<%= form_tag invite_friends_path, id: "friend-invite", remote: true do %>
				<div id="what-send" class="head-3 dark-gray">Here's what we'll send:</div>

				<p id="preview-text">
					SUBJECT: <%= current_user.first_name %> invited you to join Cliq!<br><br>

					Hey there!<br><br>

					Our mutual friend, <%= current_user.first_name %>, wants to personally invite you to join Cliq.<br><br>

					With Cliq, you can discreetly meet people in your area who love the same cool things as you. No one can ever see your last name and your picture only shows up to the specific people you're chatting with. So, you're just a first name to most and an added picture the size of a nickel to the few talking to you. Totally discreet.<br><br>

					Not interested in meeting people? You can still sign up to find out about cool events at UCF.<br><br>

					What are you waiting for? Sign up now at www.cliqwith.me
				</p>
				<div id="enter-email" class="head-3 dark-gray">Enter a friend's email here: </div>
				<%= text_field_tag :email, nil, id: "invite-email", placeholder: "email@email.com", :class => "head-3 dark-gray" %>
				<%= submit_tag "Send Invite", id: "send-cliq-invite", :class => "head-3" %>
				<div id="sent-invite" class="head-3 dark-gray hidden sent-invite">Sent</div>
			<% end %>
			<% if results %>
				<div class="head-2 cliq-skip post hidden">Keep Going</div>
			<% end %>
		</div>
	</div>
</div>