<div class="interests other">

	<div id="other-interest-list">
				
			<div id="other-sim">
				<div class="mutual">
					<%= image_tag "Mutual.svg", :class => "sim-label svg" %>
					<div class="sim dark-gray"><%= current_user.similarities_with @user %></div>
				</div>

				<div class="similar">
					<%= image_tag "Similar.svg", :class => "sim-label svg" %>
					<div class="sim dark-gray"><%= current_user.similarities_with @user %></div>
				</div>
			</div>




			<div class="cat-section other">
				<div class="cat-header other">
					Stuff <%= user.name %> does for fun:
				</div>
				<% user.formatted_cat_acts[0].each do |interest| %>
					<div class="cat-group other">
						<div class="category dark-gray"><div class="cat-name"><%= interest[0].name[0..13] + 
						"#{('..' if interest[0].name.length > 14)}" %></div></div>
						<div class="activities">
							<% interest[1].each do |activity| %>
								<div class="activity"><div class="act-name"><%= activity.name %></div></div>
							<% end %> 
						</div>
					</div>
				<% end %>
			</div>

			<div class="cat-section other">
				<div class="cat-header">
					Music:
				</div>
				<% user.formatted_cat_acts[2].each do |interest| %>
					<div class="cat-group other">
						<div class="category dark-gray"><div class="cat-name"><%= interest[0].name[0..13] + 
						"#{('..' if interest[0].name.length > 14)}" %></div></div>
						<div class="activities">
							<% interest[1].each do |activity| %>
								<div class="activity"><div class="act-name"><%= activity.name %></div></div>
							<% end %> 
						</div>
					</div>
				<% end %>
			</div>

			<div class="cat-section other">
				<div class="cat-header">
					What he watches:
				</div>
				<% user.formatted_cat_acts[1].each do |interest| %>
					<div class="cat-group other">
						<div class="category dark-gray"><div class="cat-name"><%= interest[0].name[0..13] + 
						"#{('..' if interest[0].name.length > 14)}" %></div></div>
						<div class="activities">
							<% interest[1].each do |activity| %>
								<div class="activity"><div class="act-name"><%= activity.name %></div></div>
							<% end %> 
						</div>
					</div>
				<% end %>
			</div>

			<div class="cat-section other">
				<div class="cat-header">
					What he likes to talk about:
				</div>
				<% user.formatted_cat_acts[3].each do |interest| %>
					<div class="cat-group other">
						<div class="category dark-gray"><div class="cat-name"><%= interest[0].name[0..13] + 
						"#{('..' if interest[0].name.length > 14)}" %></div></div>
						<div class="activities">
							<% interest[1].each do |activity| %>
								<div class="activity"><div class="act-name"><%= activity.name %></div></div>
							<% end %> 
						</div>
					</div>
				<% end %>
			</div>
	</div>
</div>