<% if results != "invalid" && results != nil %>
	<% if results.empty? %>
		<div id='empty'/>
	<% end %> 
	<% results.each do |entry| %>
		<div class="result">
			
			<%= link_to other_user_path(entry[0]), :class => "other-user", remote: true do %>
		
				<% if current_user.conversated_with? entry[0] %>
					<%= image_tag entry[0].profile_pic_url, :class => "profile-pic-card" %>
				<% else %>
					<%= image_tag 'cliq.png', :class => "profile-pic-card" %>
				<% end %>
			<% end %>
			
			<div class="card-header">
				<div class="card-name dark-gray"><%= entry[0].first_name %></div>
				<div class="card-school light-gray"><%= entry[0].school || "UCF" %></div>
				<% if entry[0].active %>
					<!-- <div class="card-active green">Active</div> -->
				<% else %>
					<!-- <div class="card-active gray">Offline</div> -->
				<% end %>
			</div>

			<div class="similarities">
				<div class="mutual">
					<%= image_tag "Mutual.svg", :class => "sim-label svg" %>
					<div class="sim dark-gray"><%= entry[1].length %></div>
				</div>

				<div class="similar">
					<%= image_tag "Similar.svg", :class => "sim-label svg" %>
					<div class="sim dark-gray"><%= current_user.similarities_with entry[0] %></div>
				</div>

				<div class="suggestions">
					<div class="sug-label">You both like:</div>
					<% entry[1].shuffle[0..4].each do |suggestion| %>
						<div class="suggestion white"><%= suggestion.shortened_name %></div>
					<% end %>
				</div>

				<div class="result-actions">
					<div class="action-button invite-btn white inv-btn">
						
						<%= link_to new_user_event_path(entry[0]), :class => "white invite-user", remote: true do %>
							<%= image_tag "Events.svg", :class => "action-icon svg" %>
							<div class="result-action">INVITE</div>
						<% end %>
					</div>
					<div class="action-button chat white inv-btn">
						
						<%= link_to user_chat_path(entry[0]), :class => "white chat-user", remote: true do %>
							<%= image_tag "Messages.svg", :class => "action-icon svg" %>
							<div class="result-action">CHAT</div>
						<% end %>
						
					</div>
				</div>
			</div>
		</div>
	<% end %>
	<script>
  $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');

    $.get(imgURL, function(data) {
        // Get the SVG tag, ignore the rest
        var $svg = $(data).find('svg');

        // Add replaced image's ID to the new SVG
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        // Add replaced image's classes to the new SVG
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }
        // Remove any invalid XML tags as per http://validator.w3.org
        $svg = $svg.removeAttr('xmlns:a');
        // Replace image with new SVG
        $img.replaceWith($svg);
    }, 'xml');
  });
</script>
<% else  %>
<div class="hidden" id="invalid">invalid</div>
<% end %>
	

	<div id="no-one-around" class="hidden">
		<div id="pre-invite">
			<p id="no-one-text" class="head-2 dark-gray">There seems to be no one around. Try searching for other interests or invite your friends to join Cliq!</p>

			<div id="cliq-invite" class="head-2">Invite</div>
		</div>

		<div id="post-invite" class="hidden">
			<div id="post-invite-content">
				<%= form_tag invite_friends_path, id: "friend-invite", remote: true do %>
					<div id="enter-email" class="head-3 dark-gray">Enter a friend's email here: </div>
					<%= text_field_tag :email, nil, id: "invite-email", placeholder: "email@email.com", :class => "head-3 dark-gray" %>
					<div id="what-send" class="head-3 dark-gray">Here's what we'll send:</div>

					<p id="preview-text">
						SUBJECT: <%= current_user.first_name %> invited you to join Cliq!<br><br>

						Hey there!<br><br>

						Our mutual friend, <%= current_user.first_name %>, wants to personally invite you to join Cliq.<br><br>

						With Cliq, you can discreetly meet people in your area who love the same cool things as you. No one can ever see your last name and your picture only shows up to the specific people you're chatting with. So, you're just a first name to most and an added picture the size of a nickel to the few talking to you. Totally discreet.<br><br>

						Not interested in meeting people? You can still sign up to find out about cool events in your area.<br><br>

						What are you waiting for? Sign up now at www.cliqwith.me
					</p>
					<%= submit_tag "Send Invite", id: "send-cliq-invite", :class => "head-3" %>
					<div id="sent-invite" class="head-3 dark-gray hidden">Sent</div>
				<% end %>
			</div>
			
			<div>
		</div>

	</div>


