<% if results != "invalid" && results != nil %>
	<% if results.empty? %>
		<%= render partial: "no_one", locals: {category: @category} %>
	<% end %> 
	<% results.each do |entry| %>
		<div class="result">
			
			<%= link_to other_user_path(entry[0]), :class => "other-user", remote: true do %>
				<%= image_tag 'Cliq.svg', :class => "profile-pic-card #{entry[0].color}" %>
			<% end %>
			
			<div class="card-header">
				<%= link_to other_user_path(entry[0]), :class => "other-user", remote: true do %>
					<div class="card-name dark-gray"><%= entry[0].first_name %></div>
				<% end %>
				<div class="card-school light-gray"><%= entry[0].school %></div>
				<% if entry[0].active %>
					<!-- <div class="card-active green">Active</div> -->
				<% else %>
					<!-- <div class="card-active gray">Offline</div> -->
				<% end %>
			</div>

			<div class="similarities">
				<div class="mutual">
					<%= image_tag "Mutual.svg", :class => "sim-label svg" %>
					<div class="sim dark-gray"><%= @no_id ? entry[1].length : current_user.similarities_with(entry[0]) %></div>
				</div>

				<div class="similar">
					<%= image_tag "Similar.svg", :class => "sim-label svg" %>
					<div class="sim dark-gray"><%= current_user.similar_categories_with entry[0] %></div>
				</div>

				<div class="suggestions">
					<div class="sug-label">You both like:</div>
					<% entry[1].shuffle[0..4].each do |suggestion| %>
						<div class="suggestion white"><%= suggestion.shortened_name %></div>
					<% end %>
				</div>

				<div class="result-actions">
					<div class="action-button invite-btn white inv-btn">
						
						<%= link_to new_user_event_path(entry[0]), :class => "white invite-user", remote: true do %>
							<%= image_tag "events-white.svg", :class => "action-icon" %>
							<div class="result-action">INVITE</div>
						<% end %>
					</div>
					<div class="action-button chat white inv-btn">
						
						<%= link_to user_chat_path(entry[0]), :class => "white chat-user", remote: true do %>
							<%= image_tag "messages-white.svg", :class => "action-icon" %>
							<div class="result-action">CHAT</div>
						<% end %>
						
					</div>
				</div>
			</div>
		</div>
	<% end %>
<% else  %>
<div class="hidden" id="invalid">invalid</div>
<%= render partial: 'no_one', locals: {category: @category} %>
<% end %>


