<div class="extended-side-nav">
	
		<%= link_to main_path, remote: true, :class => 'tab', id: "main" do %>
			<div class="extended logo side-icon <%= 'active' if active == :main %>">
				<div id="cliq-logo">Cliq</div> 
				<% if current_user %>
					<div class="icon-label main" id="shuffle">Shuffle</div>
				<% end %>
			</div>
		<% end %>
		<%= link_to events_path, remote: true, :class => 'tab', id: "events" do %>
			<div class="extended events <%= 'active' if active == :events %> side-icon" >
				<%= image_tag "Events.svg", :class => "nav-icon svg" %>
				<% if current_user.invite_count > 0 %>
						<div class="counter">
							<%= current_user.invite_count%>
						</div>
					<% else %>
						<div class="counter hidden">
							<%= current_user.invite_count %>
						</div>
					<% end %>
				<div class="icon-label main">Events</div>
			</div> 
		<% end %>
		<% if current_user %>
		<%= link_to search_path, remote: true, :class => 'tab', id: "search" do %>
			<div class="extended search side-icon <%= 'active' if active == :critiq %>">
				<%= image_tag "Search.svg", :class => "nav-icon svg" %> 
				<div class="icon-label main">Search</div>
			</div>
		<% end %>
		<%= link_to user_path(current_user), remote: true, :class => 'tab', id: "profile" do  %>
			<div class="extended profile side-icon <%= 'active' if active == :profile %>">
				<%= image_tag "Profile.svg", :class => "nav-icon svg" %> 
				<div class="icon-label main">Profile</div>
			</div>
		<% end %>
			<%= link_to messages_path, "data-no-turbolink" => true, remote: true, :class => 'tab', id: "messages" do %>
			<div class="extended messages <%= 'active' if active == :messages %> side-icon">
				<%= image_tag "Messages.svg", :class => "nav-icon svg" %>
				<div class="icon-label main">Messages</div>
				<% if current_user.message_count > 0 %>
					<div class="counter">
						<%= current_user.message_count%>
					</div>
				<% else %>
					<div class="counter hidden">
						<%= current_user.message_count %>
					</div>
				<% end %>
			</div>
		<% end %>
		<%= link_to settings_path(current_user), remote: true, :class => 'tab', id: "settings" do%>
			<div class="extended settings side-icon <%= 'active' if active == :settings %>" id="extended-settings" >
				<%= image_tag "Settings.svg", :class => "nav-icon svg" %>
				<div class="icon-label main">User Settings</div>
			</div>
		<% end %>
	<% end %>
	<div class="extended-options hidden">
		<%= link_to help_path do %>
			<div class="icon-label">Help</div>
		<% end %>
		<%= link_to contact_path do %>
			<div class="icon-label">Contact</div>
		<% end %>
		<%= link_to faq_path do %>
			<div class="icon-label">FAQ</div>
		<% end %>
		<%= link_to about_path do %>
		<div class="icon-label">About</div>
		<% end %>
		<%= link_to terms_path do %>
		<div class="icon-label light-gray terms">Terms and Privacy</div>
		<% end %>
		<% if current_user %>
			<%= link_to logout_path do %>
				<div class="icon-label" id="logout">Logout</div>
			<% end %>
		<% end %>
	</div>
</div>


