<div class="side-nav">
	<%= link_to search_path, "data-no-turbolink" => true do %>
		<div class="logo <%= 'active' if active == :critiq %>">
			Cliq
		</div>
	<% end %>
	<%= link_to user_path current_user do  %>
		<div class="profile <%= 'active' if active == :profile %>">
			<%= image_tag "Profile.svg", :class => "nav-icon" %>
		</div>
	<% end %>
	<%= link_to messages_path, "data-no-turbolink" => true do %>
		<div class="messages <%= 'active' if active == :messages %> side-icon">
			<%= image_tag "Messages.svg", :class => "nav-icon" %>
			<% if current_user.message_count > 0 %>
				<div class="counter">
					<%= current_user.message_count%>
				</div>
			<% else %>
				<div class="counter hidden">
					<%= current_user.message_count %>
				</div>
			<% end %>
		</div>
	<% end %>
	<%= link_to events_path do %>
		<div class="events <%= 'active' if active == :events %> side-icon" >
			<%= image_tag "Events.svg", :class => "nav-icon" %>
				<% if current_user.event_count > 0 %>
					<div class="counter">
						<%= current_user.event_count%>
					</div>
				<% else %>
					<div class="counter hidden">
						<%= current_user.event_count %>
					</div>
				<% end %>
		</div>
	<% end %>
	<div class="nav-filler">
	</div> 
	<div class="settings <%= 'active' if active == :settings %>" >
		<%= image_tag "Settings.svg", :class => "nav-icon" %>
	</div>
</div>




<div class="extended-side-nav">
	<%= link_to search_path, "data-no-turbolink" => true do %>
		<div class="extended logo <%= 'active' if active == :critiq %>">
			<div class="icon-label">Cliq</div> 
		</div>
	<% end %>
	<%= link_to user_path current_user do  %>
		<div class="extended profile <%= 'active' if active == :profile %>">
			<%= image_tag "Profile.svg", :class => "nav-icon" %> 
			<div class="icon-label">Profile</div>
		</div>
	<% end %>
		<%= link_to messages_path, "data-no-turbolink" => true do %>
		<div class="extended messages <%= 'active' if active == :messages %> side-icon">
			<%= image_tag "Messages.svg", :class => "nav-icon" %>
			<div class="icon-label">Messages</div>
			<% if current_user.message_count > 0 %>
				<div class="counter">
					<%= current_user.message_count%>
				</div>
			<% else %>
				<div class="counter hidden">
					<%= current_user.message_count %>
				</div>
			<% end %>
		</div>
	<% end %>
	<%= link_to events_path do %>
		<div class="extended events <%= 'active' if active == :events %> side-icon" >
			<%= image_tag "Events.svg", :class => "nav-icon" %>
			<% if current_user.event_count > 0 %>
					<div class="counter">
						<%= current_user.event_count%>
					</div>
				<% else %>
					<div class="counter hidden">
						<%= current_user.event_count %>
					</div>
				<% end %>
			<div class="icon-label">Events</div>
		</div> 
	<% end %>
	<div class="extended settings <%= 'active' if active == :settings %>" id="extended-settings" >
		<%= image_tag "Settings.svg", :class => "nav-icon" %>
		<div class="icon-label">User Settings</div>
	</div>

	<div class="extended-options">
		<div class="icon-label">Help</div>
		<div class="icon-label">Contact</div>
		<div class="icon-label">FAQ</div>
		<div class="icon-label">About</div>
		<div class="icon-label light-gray terms">Terms</div>
		<div class="icon-label light-gray">Privacy</div>
	</div>
</div>


