<% if results != "invalid" && results != nil %>
	<% if results.empty? %>
		<div id='empty'>
			<%= render partial: "no_one", locals: {} %>
		</div>
	<% end %> 
	<% results.shuffle.each do |entry| %>
		<div class="swiped-result">
			<div class="swiped-content">
				<%= link_to other_user_path(entry[0]), :class => "other-user", remote: true do %>
			
					<% if current_user.conversated_with? entry[0] %>
						<%= image_tag entry[0].profile_pic_url || 'cliq.png', :class => "swiped-profile-pic-card" %>
					<% else %>
						<%= image_tag entry[0].obscured_pic , :class => "swiped-profile-pic-card" %>
					<% end %>
				<% end %>
				
				<div class="card-header">
					<%= link_to other_user_path(entry[0]), :class => "other-user", remote: true do %>
					<div class="swiped-card-name head-2 dark-gray"><%= entry[0].first_name %></div>
					<% end %>
				</div>

				<div class="swiped-similarities">
					<div class="swiped-school">
						<%= entry[0].school %>
					</div>
					
				</div>
				<div class="suggestions-container">

					<div class="swiped-suggestions">
						<div class="swiped-suggestion dark-gray mutual-suggestion headers">
							<%= image_tag ('Mutual.svg'), :class => "swiped-sug-pic headers mutual svg" %>
							<div class="swiped-count"><%= current_user.similarities_with entry[0] %></div>
						</div>
						<div class="swiped-suggestion dark-gray headers">
							<%= image_tag ('Similar.svg'), :class => "swiped-sug-pic headers sim svg" %>
							<div class="swiped-count"><%= entry[1].length %></div>
						</div>

						<% current_user.similar_interests(entry[0], entry[1]).each do |suggestion| %>
							<div class="swiped-suggestion dark-gray">
								<div class="swiped-sug-name"><%= suggestion.name %></div>
								<%= image_tag (suggestion.activity_pic.url || 'cliq.png'), :class => "swiped-sug-pic" %>
							</div>
						<% end %>
					</div>

					<div class="swiped-actions">
						<div class="swipe-action-content">
							<div class="swipe-next">
								<%= image_tag "Next.svg", :class => "swiped-action-icon svg" %>
							</div>

							<div class="swipe-info">
								<%= link_to other_user_path(entry[0]), :class => "other-user", remote: true do %>
									<%= image_tag "Info.svg", :class => "info-icon" %>
								<% end %>
							</div>

							<div class="chat white inv-btn swiped">	
								<%= link_to user_chat_path(entry[0]), :class => "white chat-user", remote: true do %>
									<%= image_tag "messages-white.svg", :class => "swiped-action-icon" %>
								<% end %>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
	<script>
  $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');

    $.get(imgURL, function(data) {
        // Get the SVG tag, ignore the rest
        var $svg = $(data).find('svg');

        // Add replaced image's ID to the new SVG
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        // Add replaced image's classes to the new SVG
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }
        // Remove any invalid XML tags as per http://validator.w3.org
        $svg = $svg.removeAttr('xmlns:a');
        // Replace image with new SVG
        $img.replaceWith($svg);
    }, 'xml');
  });
</script>
<script>
	var height = ($(window).height() - 278) + "px"
	$('.suggestions-container').css('height', height)
	$(window).resize(function(){
		var newHeight = ($(window).height() - 278) + "px"
		$('.suggestions-container').css('height', newHeight)
	})
	$('.swiped-result').first().show()
</script>
<div class="hidden" id='no-one'>There seems to be no one else.</div>
<% else  %>
<div class="hidden" id="invalid">invalid</div>
<% end %>
<div id='empty'>
	<%= render partial: "no_one", locals: {} %>
</div>