<div class="top-nav">
	<%= image_tag "mobile-menu.svg", :class => "menu-icon left" %>
	<span class="menu-title">Cliq</span>
	<%= link_to public_events_path, :class => "public-event-create", remote: true do %>
		<%= image_tag "newevent.svg", :class => "menu-icon right" %>
	<% end %>
	<span class='back-tut event-back hidden'>Back</span>
</div>

<div class="top-nav-content hidden">
		<%= link_to events_path, remote: true, :class => 'tab', id: "events" do %>
			<div class="mob-nav search side-icon <%= 'active' if active == :critiq %>">
				<%= image_tag "Events.svg", :class => "nav-icon svg" %> 
				<div class="icon-label main">Events</div>
				<% if current_user.invite_count > 0 %>
					<div class="counter">
						<%= current_user.invite_count%>
					</div>
				<% else %>
					<div class="counter hidden">
						<%= current_user.invite_count %>
					</div>
				<% end %>
			</div>
		<% end %>
		
			<%= link_to messages_path, "data-no-turbolink" => true, remote: true, :class => 'tab', id: "messages" do %>
			<div class="mob-nav messages <%= 'active' if active == :messages %> side-icon">
				<%= image_tag "Messages.svg", :class => "nav-icon svg" %>
				<div class="icon-label main">Messages</div>
				<% if current_user.message_count > 0 %>
					<div class="counter">
						<%= current_user.message_count%>
					</div>
				<% else %>
					<div class="counter hidden">
						<%= current_user.message_count %>
					</div>
				<% end %>
			</div>
		<% end %>
		<%= link_to settings_path(current_user), remote: true, :class => 'tab', id: "settings" do%>
			<div class="mob-nav settings side-icon <%= 'active' if active == :settings %>" id="mob-nav-settings" >
				<%= image_tag "Settings.svg", :class => "nav-icon svg" %>
				<div class="icon-label main">User Settings</div>
			</div>
		<% end %>
</div>

<script>
  $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');

    $.get(imgURL, function(data) {
        // Get the SVG tag, ignore the rest
        var $svg = $(data).find('svg');
        // Add replaced image's ID to the new SVG
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        // Add replaced image's classes to the new SVG
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }
        // Remove any invalid XML tags as per http://validator.w3.org
        $svg = $svg.removeAttr('xmlns:a');
        // Replace image with new SVG
        $img.replaceWith($svg);
    }, 'xml');
  });
</script>


