<div class="user-other-container mobile">

    
    <div class="user-container">
        <div id="profile-container"> 
            <div class="profile-info">
                <% if current_user.conversated_with? @user %>
                    <%= image_tag @user.profile_pic_url, :class => "profile-pic" %>
                <% else %>
                    <%= image_tag 'Cliq.svg', :class => "profile-pic #{@user.color}" %>
                <% end %>                   
                <div id="name-self"><%= @user.first_name %></div>
                <div id="school-self"><%= @user.school %></div>
            </div>

            <div class="account-stats">
                <div class="stat"><span class="number"><%= current_user.similarities_with @user %><br></span> Shared Interests</div>
                <div class="stat" >
                    <%= image_tag "Mutual.svg", :class => "other-mut" %>
                </div>
                <div class="stat"><span class="number"><%= current_user.similar_categories_with @user %><br></span> Shared Categories</div>                      
            </div>
        </div>
        <%= render partial: 'mobile_interests', locals: {unformatted_interests: @unformatted_interests} %>
    </div>
    





</div>
