<div class="user-other-container">

	<div id="main-profile-container"> 
		<div class="main-profile-info other">
				<% if current_user.conversated_with? @user %>
					<%= image_tag @user.profile_pic_url, :class => "profile-pic" %>
				<% else %>
					<%= image_tag 'Cliq.svg', :class => "profile-pic #{@user.color}" %>
				<% end %>
			
			<div class="left">
				<div class="head-1" id="name"><%= @user.first_name %></div>
				<div class="head-4" id="school"><%= @user.school %></div>
				<% if @user.active %>
					<div class="head-4" id="active">Active</div>
				<% else %>
					<div class="head-4" id="active">Offline</div>
				<% end %>
			</div>
			
			<div class="right other">
					<div id="invite-other">
					<%= link_to new_user_event_path(@user), :class=> "invite-user", remote: true do %>
					<%= image_tag "Events.svg", :class => "action-icon other svg" %>
					<% end %>
					<%= link_to new_user_event_path(@user), :class => "white other-action invite-user", remote: true do %>
					INVITE
					<% end %>
					</div>

					<div id="chat-other">	
					<%= link_to user_chat_path(@user), :class => "chat-user", remote: true do %>
					<%= image_tag "Messages.svg", :class => "action-icon other svg" %>
					<% end %>
						<%= link_to user_chat_path(@user), :class => "white other-action chat-user", remote: true do %>
							CHAT
						<% end %>
					</div>
			</div>
		</div>
	</div>
	<%= render partial: 'other_interests', locals: {user: @user, format: @format, formatted_interests: @formatted_interests} %>
</div>
<script>
  $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');

    $.get(imgURL, function(data) {
        // Get the SVG tag, ignore the rest
        var $svg = $(data).find('svg');

        // Add replaced image's ID to the new SVG
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        // Add replaced image's classes to the new SVG
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }
        // Remove any invalid XML tags as per http://validator.w3.org
        $svg = $svg.removeAttr('xmlns:a');
        // Replace image with new SVG
        $img.replaceWith($svg);
    }, 'xml');
  });
</script>
