<div class="user-other-container mobile">

    
    <div class="user-container">
        <div id="profile-container"> 
            <div class="profile-info">
                <%= image_tag @user.profile_pic_url, :class => "profile-pic" %>
                    <div id="name-self"><%= @user.name %></div>
                    <div id="school-self"><%= @user.school %></div>
            </div>

            <div class="account-stats">
                <div class="stat"><span class="number"><%= @user.activities.length%><br></span> Interests</div>
                <div class="stat" ><span class="number"><%= @user.attendings%><br></span> Events Attended</div>
                <div class="stat"><span class="number"><%= @user.conversations.where(connected: true).count %><br></span> People
                 Met</div>                      
            </div>
        </div>
        <%= render partial: 'mobile_interests', locals: {unformatted_interests: @unformatted_interests} %>
    </div>
    





</div>
