<div class="user-other-container">

	<div id="main-profile-container"> 
		<div class="main-profile-info other">
				<% if current_user.conversated_with? @user %>
					<%= image_tag @user.profile_pic_url, :class => "profile-pic" %>
				<% else %>
					<%= image_tag 'cliq.png', :class => "profile-pic" %>
				<% end %>
			
			<div class="left">
				<div class="head-1" id="name"><%= @user.first_name %></div>
			</div>

				<div class="right other">
					<div id="invite-other">
					<%= @user.school %>
					</div>

					<div id="chat-other">	
						<% if @user.active %>
							<div class="head-4" id="active">Active</div>
						<% else %>
							<div class="head-4" id="active">Offline</div>
						<% end %>
					</div>
			</div>
		</div>
	</div>
	<%= render partial: 'mobile_other_interests', locals: {user: @user, format: @format, formatted_interests: @formatted_interests} %>
</div>
<script>
  $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');

    $.get(imgURL, function(data) {
        // Get the SVG tag, ignore the rest
        var $svg = $(data).find('svg');

        // Add replaced image's ID to the new SVG
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        // Add replaced image's classes to the new SVG
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }
        // Remove any invalid XML tags as per http://validator.w3.org
        $svg = $svg.removeAttr('xmlns:a');
        // Replace image with new SVG
        $img.replaceWith($svg);
    }, 'xml');
  });
</script>
