
	<div id="search-container">
		<div id="search-content">
			<div id="query">
				<%= form_tag search_path, id: "search-form", remote: true do %>
					<div id="query-row-1">
						<div id="query-1" class="white">I want to hang out near</div>
						<%= text_field_tag :location, nil, :class => " dark-gray search-term", id: "query-location", value: current_user.address, placeholder: "City, State" %>
						<%= hidden_field_tag "location_id" %>
						<div id="query-2" class=" white">with people interested in</div>
					</div>
					<div id="query-interests" class=" dark-gray">
						<%= text_field_tag :activity, nil, :class => "query-interest search-term", placeholder: 'Stuff I Like' %>
					</div>
					<%= submit_tag "Search", :class => "red head-3", id:"search-query" %> 
					<%= hidden_field_tag "ids" %>
				<% end %>
			</div>
		</div>
	</div>

	<%= image_tag 'Do.svg', :class => "ac-image hidden", id: "Do" %>
	<%= image_tag 'Watch.svg', :class => "ac-image hidden", id: "Watch" %>
	<%= image_tag 'Music.svg', :class => "ac-image hidden", id: "Music" %>
	<%= image_tag 'Discuss.svg', :class => "ac-image hidden", id: "Discuss" %>

	<div id="results-container" class="background-gray">
		<% if @user_empty %>
			<div class="no-int-container">
				<div class="no-ints">
					It looks like you don't have any interests yet.<br>
					Click <%= link_to "here", choose_cat_path(@category), id: "choose-cats" %> to add some!
				</div>
			</div>
		<% end %>
		<div id="results-content">
			<div id="results-header">
				<div id="found" class="head-3"></div>
			</div>
			

			<div id="search-results">
				<% if !@user_empty %>
					<%= render partial: 'search_results', locals: {results: @results} %>
				<% end %>
			</div>
		</div>
		</div>
	<script>
		$('body').addClass('background-gray')
	</script>
	<div id="invite-modal-container" class="modal"></div>
	<div id="other-modal-container" class="modal"></div>



	<% if 1 > 2 %>
		<div id="activation-container">
			<div id="activation-form" class="dark-gray">
				<p id="top"><span class="heavy">Cliq is currently only available to students at UCF</span><br>
				Please enter your UCF email address and click the<br>
				activation link we send you to start using Cliq.</p>
					<%= form_tag send_activation_path(current_user), remote: true, class: "send-activation" do %>
						<%= text_field_tag :email, nil, placeholder: "Enter email address", class: 'email-activation'   %>
						<%= submit_tag "Send", class: "submit-email" %>
					<% end %>

					<div class="send-activation hidden" id="thank-you">
						<p>Thank You! Please check your email and refresh the page when you've been activated</p>
					</div>


				<p id="bottom"><span class="heavy">Not a UCF? Student?</span> You can still enter your email to receive<br>
				updates when we start expanding to other to schools.</p>
			</div>
		</div>
	<% end %>
	<script>
  $(document).ready(function(){
  	  $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');

    $.get(imgURL, function(data) {
        // Get the SVG tag, ignore the rest
        var $svg = $(data).find('svg');

        // Add replaced image's ID to the new SVG
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        // Add replaced image's classes to the new SVG
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }
        // Remove any invalid XML tags as per http://validator.w3.org
        $svg = $svg.removeAttr('xmlns:a');
        // Replace image with new SVG
        $img.replaceWith($svg);
    }, 'xml');
  });
  	})
</script>











