
 <div id="faq-container">

	<div id="faq-content">
		
		<%= form_for current_user, remote: true do |f| %>
			<div id="faq-questions">
				
				<div class="settings-group">
					<div class="faq-question head-3 dark-gray">
						Location
					</div>

					<%= f.text_field :address, :class => "settings-input head-4", value: current_user.current_loc %>
				</div>
				<div class="settings-group">

					<div class="faq-question head-3 dark-gray">
						Email:
					</div>

					<%= f.text_field :email, :class => "settings-input head-4", value: current_user.email %>

				</div>
				<div class="settings-group">

					<div class="faq-question head-3 dark-gray">
						School:
					</div>

					<%= f.text_field :school, :class => "settings-input head-4", value: current_user.school %>
				</div>


				<div class="settings-group notifications">


					<div class="faq-question head-3 dark-gray">
						Send Notifications
					</div>

					<div class="notification-setting  head-4">
					<%= f.check_box :notify_news, value: true, checked: current_user.notify_news, :class => "email-settings hidden-box" %>
					<%= label :notify_news, "Cliq News & Updates", :class => "settings-label first" %>
					</div>
					<div class="notification-setting head-4">
						<%= f.check_box :notify_messages, value: true, checked: current_user.notify_messages, :class => "email-settings hidden-box" %>
						<%= label :notify_messages, "New Messages", :class => "settings-label" %>
					</div>
					
					<div class="notification-setting  head-4">
					<%= f.check_box :notify_events, value: true, checked: current_user.notify_events, :class => "email-settings hidden-box" %>
					<%= label :notify_events, "Event Invites", :class => "settings-label" %>
					</div>

				</div>
				<div class="settings-group lgbtq">

					<div class="lgbtq-container head-3">
						<div class="faq-question">I am:</div> 
						<%= f.check_box :lbgtq, value: true, checked: current_user.lbgtq, :class => "hidden-box" %>
						<%= label "lbgtq",nil, "LGBTQ", :class => "settings-label" %>
						<p id="lbgtq-text">
							(Your anonymous profile icon will change to include a rainbow border.) 
						</p>
					</div>
				</div>

				<%= f.submit "Save Settings", id: "save-settings" %>
			</div>

			<% end %>

			<div class="faq-question head-3 gray" id="delete-account">
				Delete Account
			</div>
	</div>
</div>

<div id="delete-modal" class="modal">
	<div id="delete-text" class="head-3 dark-gray">Are you sure you want to delete your account?</div>
	<div id="delete-actions">
		<div id="cancel-delete" class="head-3 dark-gray">Cancel</div>
		<%= link_to "Delete", user_path(current_user), method: :delete, id: "confirm-delete", :class => "head-3 white" %>
	</div>
</div>

<script>
	marginTop = $('.content-container').height() - 307 + "px"
	$('#save-settings').css('margin-top', marginTop)

	$('.hidden-box').each(function(){
		if ($(this).attr("checked") == "checked") {
			$(this).next().addClass("enabled");
		}
	})

</script>