
	<div class="user-container">



		<div id="profile-container"> 
			<div class="profile-info">
				<%= image_tag @user.profile_pic_url, :class => "profile-pic" %>
				

					<div class="head-1" id="name-self"><%= @user.name %></div>
					<div class="head-4" id="school-self"><%= @user.school || "Not Listed" %></div>
					
					
					<div class="account-stats">
						<div class="head-4 stat" ><%= @user.attendings%> Events Attended</div>
						<div class="head-4 stat"><%= @user.conversations.where(connected: true).count %> People Met</div>
						<div class="head-4 stat"><%= @user.activities.length%> Interests Listed</div>
					</div>


				<div class="profile-actions green">
					<%= link_to choose_cat_path(@category) do %>
						<div class="bubble red" id="add-interests">+add interests</div>
					<% end %> 
					<div class="bubble orange" id="quick-add">Quick Add</div>
					<%= form_tag quick_create_path, id: "quick-search", class: "hidden", remote: true do %>
						<%= text_field_tag :activities, nil, id: "self-search", :class => "head-4 quick-search-acts", placeholder: "Type an Interest" %>
						<div class="hidden interest-info"></div>
						<%= hidden_field_tag :act_id %>
						<%= submit_tag "Add", id: "submit-quick-search", :class => "head-4 hidden" %>
					<% end %>
				</div> 
			</div>
		</div>
		<%= render partial: 'interests', locals: {user: @user, format: @format, formatted_interests: @formatted_interests} %>
	</div>
	<% if @welcome == "true" %>
		<div id="activation-container" class="welcome-container">
			<div id="welcome-form" class="dark-gray">
				<p id="top-welcome" class="head-4"><span class="heavy">If you're reading this, it's because you're awesome and someone told you about Cliq's private beta. Good for you. Welcome to Cliq!</p>
					
				<p id="bottom-welcome" class="head-5 gray">(If you'd like to change your email and what messages we send you, just click user settings on the bottom of the nav bar)</p>

				<div id="got-it" class="head-4">Okay, got it</div>
			</div>
		</div>
	<% end %>




