<div class="content-container">
	<div class="user-container">

		<%= render partial: 'side_nav', locals: {active: :profile} %>

		<div id="main-profile-container"> 
			<div class="main-profile-info">
				<%= image_tag @user.profile_pic_url, :class => "profile-pic" %>
				
				<div class="left">
					<div class="head-1" id="name"><%= @user.name %></div>
					<div class="head-4" id="active"><%= @user.school %></div>

				</div>
				
				<div class="right">
					<div class="head-2 " id="event-count"><%= @user.attendings%></div>
					<div class="head-3 " id="event-label">Events Attended</div>
					<div class="head-2 " id="people-count"><%= 0 %></div>
					<div class="head-3 " id="people-label">People Met</div>
					<div class="head-2 " id="interest-sum"><%= @user.activities.length%></div>
					<div class="head-3 " id="interest-label">Interests Listed</div>
				</div>

				<div class="profile-actions green">
					<%= link_to choose_cat_path(@category) do %>
						<div class="bubble red" id="add-interests">+add interests</div>
					<% end %> 
				</div> 
			</div>
		</div>
		<%= render partial: 'interests', locals: {user: @user, format: @format, formatted_interests: @formatted_interests} %>
	</div>
</div>

<% if @welcome == "true" %>
	<div id="activation-container" class="welcome-container">
		<div id="welcome-form" class="dark-gray">
			<p id="top-welcome" class="head-4"><span class="heavy">If you're reading this, it's because you're awesome and someone told you about Cliq's private beta. Good for you. Welcome to Cliq!</p>
				
			<p id="bottom-welcome" class="head-5 gray">(If you'd like to change your email and what messages we send you, just click user settings on the bottom of the nav bar)</p>

			<div id="got-it" class="head-4">Okay, got it</div>
		</div>

	</div>
<% end %>

