
	<div class="user-container">
		<div id="profile-container"> 
			<div class="profile-info">
				<%= image_tag @user.profile_pic_url, :class => "profile-pic" %>
					<div id="name-self"><%= @user.name %></div>
					<div id="school-self"><%= @user.school %></div>
			</div>

			<div class="account-stats">
				<div class="stat"><span class="number"><%= @user.activities.length%><br></span> Interests</div>
				<div class="stat" ><span class="number"><%= @user.attendings%><br></span> Events Attended</div>
				<div class="stat"><span class="number"><%= @user.conversations.where(connected: true).count %><br></span> People
				 Met</div>						
			</div>
		</div>
		<%= render partial: 'mobile_interests', locals: {unformatted_interests: @unformatted_interests} %>

		<div class="profile-actions green">
			<%= form_for @act, remote: true do |f| %>
				<%= f.text_field :name, :class => "act-name-input head-4", placeholder: "Suggest"%>
				<%= f.hidden_field :category_id, value: @category.id %>
				<%= f.hidden_field :suggested_by, value: current_user.id %>
				<%= f.submit "Suggest", id: "submit-act", :class => "head-4 hidden" %>
			<% end %>

			<%= form_tag quick_create_path, id: "quick-search", remote: true do %>
				<%= text_field_tag :activities, nil, id: "self-search", :class => "head-4 quick-search-acts", placeholder: "Quick Search" %>
				<div class="hidden interest-info"></div>
				<%= hidden_field_tag :act_id %>
				<%= submit_tag "Add", id: "submit-quick-search", :class => "head-4 hidden" %>
			<% end %>
		</div> 
	</div>
	




