<!-- avatar, better, cat, hand, nose, ramen, eyes, wings, color -->

<div class="store-left strange">
	<div class="store-header">Hello, welcome to my bizzare bazaar?</div>
	<%= link_to store_path do %>
		<div class="store-sub-header">(Switch to Normal Store)</div>
	<% end %>
	<%= image_tag 'strangeshop.png', :class => "store-img" %>
<%= link_to games_path do %>
	<div class="back-btn">Back</div>
<% end %>
</div>

<div class="store-middle">
	<div class="middle-header">Click on stuff to try it on.</div>

	<div class="item-container">
		<% current_user.available_strange_items.each do |i| %>
			<div class="item-block">
				<%= image_tag "#{i}.png", :class => "item-img", id: "#{i}-item" %>
				<div class="item-name"><%= @names[i.to_sym] %></div>
				<div class="item-price"><%= @prices[i.to_sym] %> Coins</div>
			</div>
		<% end %>
	</div>
	
		<div class="buy">BUY</div>


	<%= image_tag 'left-arrow.png', :class => 'arrow left-arrow' %>
	<%= image_tag 'right-arrow.png', :class => 'arrow right-arrow' %>
</div>

<div class="store-right">
	<div class="right-header">
		The mythical blah blah blah<br>
		(generates one strange coin every day)
	</div>

	<div class="avatar">
		<%= image_tag 'avatar.png', :class => "add-img avatar-png", id: "0" %>
		<% @full_list.each do |i| %>
			<%= image_tag "#{i}.png", :class => "add-img #{'hidden' if !current_user.additions_list.include?(i)} #{i}-png #{'contained' if current_user.additions_list.include?(i)}", id: "#{@prices[i.to_sym]}", id: "#{@prices[i.to_sym]}" %>
		<% end %>
	<div>

	<div class="money-box">
		<div class="Money">
			<span class="amount"><%= current_user.money %></span><br><br>money
		</div>
		<div class="coins">
			<span class="amount"><%= current_user.coins %></span><br><br>coins
		</div>
	</div>
</div>


<script>
	if ($('.better-png:visible').length > 0) {
		$('.avatar-png').hide()
	}
</script>