<div class="today-events event-date-type">
	<div class="date-header head-2">Today</div>
</div>
<div class="tommorow-events event-date-type">
	<div class="date-header head-2">Tomorrow</div>
</div>


<% events.each do |event| %>
	<% lock_status = !event.joined_by(current_user) %>
	<div class="upcoming-event<%= event.html_classes current_user %><%= ' joined' if !lock_status %> ">
		<div class="upcoming-event-picture">
			<%= image_tag event.image_url || "Cliq.svg", :class => "event-picture" %>
			<div class="event-title-overlay">
				<div class="event-title head-3">
					<%= link_to event_chat_path(event, locked: false), :class => "chat-user", remote: true do %>
						<%= event.shortened_title %>
					<% end %>
				</div>
				<div class="event-reqs head-4">
					<% if event.paid %>
						<div class="req">$$</div>
					<% end %>
				</div>
			</div>


			<div class="invite-overlay">
				<div class="invite-count"><%= event.people_count %> Going</div>
				
				<%= link_to event_chat_path(event, locked: false ), :class => "chat-user no-obscure", remote: true do %>
					<div class="invite-thread">Click to view thread</div>
				<% end %>
			</div>
		</div>
		
		<div class="upcoming-event-info">
			

		
			<div class="white upcoming-event-time invite-row head-4">
				<%= event.time current_user %>
			</div>
			<% if open && event.creator != current_user && lock_status %>
				<div class="invite-row pass-accept">
					<div class="invite-action-buttons">
						<%= link_to user_accept_path(current_user, event), id: "e-#{event.id}", remote: true, :class => "event-action join" do %>
							<div class="event-action-bar">
								<%= image_tag 'Join.svg', :class => "event-action-pic" %>
								<div class="event-action-text">Join</div>
							</div>
						<% end %>
						<%= link_to user_pass_path(current_user, event), id: "e-#{event.id}", remote: true, :class => "event-action pass" do %>
							<div class="event-action-bar right">
								<%= image_tag 'Pass.svg', :class => "event-action-pic" %>
								<div class="event-action-text">Pass</div>
							</div>
						<% end %>
					</div>
					<%= link_to event_chat_path(event, locked: false), :class => "chat-user no-obscure", remote: true do %>
						<div class="invite-thread bottom hidden view-thread">View</div>
					<% end %>
				</div>
			<% end %>

			<div class="gray upcoming-event-description invite-row">
				<%= event.description %>
			</div>

			<div class="event-tags">
				<% ["music", "discussion", "activity", "party", "food", "games", "show", "shaman"].each do |tag| %>
					<% if event.send(tag.to_sym) %>
							<% tag = "mus" if tag == "music" %>
							<% tag = "hookah" if tag == "shaman" %>
							<%= image_tag "#{tag.capitalize}.svg", :class => "event-tag" %>
					<% end %>
				<% end %>
			</div>
			<div class="invite-row invite-actions">
				<%= link_to event_chat_path(event, locked: false), :class => "chat-user no-obscure", remote: true do %>
					<div class="invite-thread bottom">
						<% if event.messages_count == 0 || event.conversations.first.was_seen_by?(current_user) %> 
							<%= image_tag "messages-white.svg", :class => "invite-messages-pic" %>
						<% else %>
							<%= image_tag "messages-white.svg", :class => "invite-messages-pic" %>
							<div class="new-tag <%= 'hidden' if lock_status %>">New!</div>
						<% end %>
					</div>
				<% end %>
			</div>

		</div>
	</div>
<% end %>
<% if events.empty? %>
	<div id="empty-events">No Events to Show</div>
<% end %>

