<% events.each do |event| %>
	<div class="upcoming-event">
		
		<div class="upcoming-event-picture">
			<%= image_tag event.image_url || "Cliq.svg", :class => "event-picture" %>
			<div class="invite-overlay">
				<div class="invite-count"><%= event.people_count %> Going</div>
				
				<%= link_to event_chat_path(event, locked: open), :class => "chat-user", remote: true do %>
					<div class="invite-thread">Click to view thread</div>
				<% end %>
			</div>
		</div>
		
		<div class="upcoming-event-info">
			
			<div class="upcoming-event-title invite-title2">
				<%= event.title %>
			</div>

			<div class="white upcoming-event-time invite-row">
				<%= event.time current_user %>
			</div>

			<div class="gray upcoming-event-location invite-row">
				<%= event.location %>
			</div>

			<div class="gray upcoming-event-description invite-row">
				<%= event.description %>
			</div>

			<% if open && event.creator != current_user %>
				<div class="upcoming-event-others invite-row event-actions">
					<div class="invite-row invite-actions">
						<%= link_to user_accept_path(current_user, event), data: {confirm: "Join #{event.title} ?"}, remote: true, :class => "invite-action" do %>
							<div class="accept white">Join</div>
						<% end %>

						<%= link_to user_pass_path(current_user, event), data: {confirm: "Pass #{event.title} ?"}, remote: true, :class => "invite-action" do %>
						<div class="pass">Pass</div>
						<% end %>
					</div>
				</div>
			<% end %>

		</div>
	</div>
<% end %>
<% if events.empty? %>
	<div id="empty-events">No Events to Show</div>
<% end %>