<div class="invite">
		
<!-- change user.last to invite.creator later -->
	<div class="invite-pic">
		<%= image_tag invite.image_url || "Cliq.svg", :class => "event-picture" %>
		<div class="invite-overlay">
			<div class="invite-count"><%= invite.people_count %> Going</div>
			<%= link_to event_chat_path(invite, locked: false), :class => "chat-user", remote: true do %>
				<div class="invite-thread">Click to view thread</div>
			<% end %>
		</div>
	</div>

	<div class="invite-info">
		<div class="invite-title invite-row">
			<%= link_to event_chat_path(invite, locked: "false"), :class => "chat-user", remote: true do %>
				<%= invite.title %>
			<% end %>
		</div>


		

		<div class="light-gray invite-location invite-row">
			<%= invite.location %>
		</div>

		<div class="head-5 invite-time invite-row">
			<%= invite.time current_user %>
		</div>

		<div class="gray upcoming-event-description invite-row">
			<%= invite.description %>
		</div>
		
	</div>

</div>


