<div class="invite">
		
<!-- change user.last to invite.creator later -->
	<div class="invite-pic">
		<%= image_tag invite.image_url || "Cliq.svg", :class => "event-picture" %>
		<div class="invite-overlay">
			<div class="invite-count"><%= invite.people_count %> Going</div>
			<div class="invite-overlay-action">Edit</div>
			<div class="invite-overlay-action">Delete</div>
		</div>
	</div>

	<div class="invite-info">
		<div class="invite-title invite-row">
			<%= invite.title %>
		</div>


		

		<div class="light-gray invite-location invite-row">
			<%= invite.location %>
		</div>

		<div class="head-5 invite-time invite-row">
			<%= invite.time current_user %>
		</div>

		<div class="gray upcoming-event-description invite-row">
			<%= invite.description %>
		</div>
		
	</div>
</div>