<div class="invite">
		
<!-- change user.last to invite.creator later -->
	<div class="invite-pic">
		<%= image_tag invite.image_url || "Cliq.svg", :class => "event-picture" %>
	</div>

	<div class="invite-info">
		<div class="invite-title invite-row">
			<%= invite.title %>
		</div>


		

		<div class="light-gray invite-location invite-row">
			<%= invite.location %>
		</div>

		<div class="head-5 invite-time invite-row">
			<%= invite.time current_user %>
		</div>

		<div class="head-5 invite-quantity invite-row people-going">
			<%= invite.people_count %> going
		</div>

		
	</div>
</div>