<div id="events-container">

		<div id="invite-container">
			<div id="invites">
				<div id="invites-header" class="head-4 white">Your Open Events</div>
				<%= link_to public_events_path, :class => "invite-user", remote: true do %>
					<div id="new-open-event">
						New Event
					</div>
				<% end %>

				<div id="invites-collection">
					<% @invitations.each do |invite| %>
						<%= render partial: 'invite_card', locals: {invite: invite} %>
					<% end %>
					<% if @invitations.empty? %>
						<div id="empty-invite">No Invites to Show</div>
					<% end %>
				</div>
			</div>
		</div>

		<div id="other-events-container">


		<div id="events-header-actions">
			<div id="upcoming-header" class="head-4 dark-gray">Open Events:</div>
			
			<%= link_to open_events_path, :class => "event-sort", remote: true do %>
				<div class="head-4 dark-gray selected" id="event-open">Open</div>
			<% end %>

			<%= link_to going_events_path, :class => "event-sort", remote: true do %>
				<div class="head-4 dark-gray" id="event-going">Joined</div>
			<% end %>

		</div>

			<div id="upcoming">
				<div id="events-box">
					<%= render partial: 'events', locals: {events: @events, open: @open} %>
				</div>
			</div>
		</div>
		<div id="invite-modal-container" class="modal"></div>
	</div>

	<script>
			var intId = 0
			var row = 0
			var count = 0
			$(".invite-row").bind("mouseover", function(event) {
		    row = $(this)
		    intId = setInterval(function(){
		    	row[0].scrollTop = count
		    	count += 1
		    }, 10)
		}).bind("mouseout", function() {
		    clearInterval(intId)
		    count = 0
		    row[0].scrollTop = 0
		});
	</script>
