<script>
	$('.top-nav').append("<span class='back-tut event-back hidden'>Back</span>")
</script>
<div id="messages-container" class="mobile ev">
	<div class="message-content-container">
		<div class="message-content">
			
			<div id="event-list">

			</div>

			<div id="events-footer">
					<div class="event-bar filter-link">
						<div class="event-bar-text m1">Sift</div>
					</div>
					<div class="event-bar">
						<div class="event-filter event-bar-text m1" id="event-hosting">Hosting</div>
					</div>
					<div class="event-bar selected">
						<div class="event-filter event-bar-text m1" id="event-open">Open</div>
					</div>
					<div class="event-bar">
						<div class="event-filter event-bar-text m1" id="event-going">Joined</div>
					</div>
			</div>
		</div>	
	</div>
</div>

<%= link_to open_events_path, :class => "event-bar-link", remote: true do %>
	<div class="head-4 dark-gray selected hidden">Open</div>
<% end %>

<script>
	$('.event-bar-link').first().click()
</script>

<div class="filter-container hidden">
	<div class="event-form-right">
		<div class="form-row">
			<div class="event-quest">I'm looking for a</div>
			<div class="event-types">
				<div class="event-type round-left">Hangout</div>
				<div class="event-type">Party</div>
				<div class="event-type round-right">Event</div>
			</div>
		</div>
		<div class="form-row">
			<div class="event-quest">with</div>
			<div class="event-attrs-1">
				<div class="event-attr no-left music">
					<%= image_tag "Mus.svg", :class => "attr-pic svg" %>
					<div class="attr-text">Music</div>
				</div>
				<div class="event-attr discussion">
					<%= image_tag "Discussion.svg", :class => "attr-pic svg" %>
					<div class="attr-text">Discussion</div>
				</div>
				<div class="event-attr activity">
					<%= image_tag "Activity.svg", :class => "attr-pic svg" %>
					<div class="attr-text">Activity</div>
				</div>
				<div class="event-attr party">
					<%= image_tag "Party.svg", :class => "attr-pic svg" %>
					<div class="attr-text">A Party</div>
				</div>
			</div>
			<div class="event-attrs-2 food">
				<div class="event-attr food no-left">
					<%= image_tag "Food.svg", :class => "attr-pic svg" %>
					<div class="attr-text">Food</div>
				</div>
				<div class="event-attr games">
					<%= image_tag "Games.svg", :class => "attr-pic svg" %>
					<div class="attr-text">Games</div>
				</div>
				<div class="event-attr show">
					<%= image_tag "Show.svg", :class => "attr-pic svg" %>
					<div class="attr-text">A Show</div>
				</div>
			</div>
		</div>
		<div class="form-row event-dates">
			<div class="event-date-types gray">
				<div class="event-type round-left">Today</div>
				<div class="event-type">Tomorrow</div>
				<div class="event-type round-right">Any Time</div>
			</div>
		</div>

		<div class="form-row event-dates">
			<div class="filter-button">
				Sift
			</div>
		</div>
	</div>
</div>

<script>
  $(document).ready(function(){
  	$('#event-list').kinetic();
  })
  $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');

    $.get(imgURL, function(data) {
        // Get the SVG tag, ignore the rest
        var $svg = $(data).find('svg');

        // Add replaced image's ID to the new SVG
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        // Add replaced image's classes to the new SVG
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }
        // Remove any invalid XML tags as per http://validator.w3.org
        $svg = $svg.removeAttr('xmlns:a');
        // Replace image with new SVG
        $img.replaceWith($svg);
    }, 'xml');
  });
    $(".invite-modal-container").css({top: "", left: "", marginTop: "", marginLeft: ""})
</script>




