<div id="events-container">

		<div id="invite-container">
			<div id="invites">
				<div class="event-form-right">
					<div class="form-row">
						<div class="event-quest">I'm looking for a</div>
						<div class="event-types">
							<div class="event-type round-left">Hangout</div>
							<div class="event-type">Party</div>
							<div class="event-type round-right">Event</div>
						</div>
					</div>
					<div class="form-row">
						<div class="event-attrs-1">
							<div class="event-attr no-left music">
								<%= image_tag "Mus.svg", :class => "attr-pic svg" %>
								<div class="attr-text hidden">Music</div>
							</div>
							<div class="event-attr discussion">
								<%= image_tag "Discussion.svg", :class => "attr-pic svg" %>
								<div class="attr-text hidden">Discussion</div>
							</div>
							<div class="event-attr activity">
								<%= image_tag "Activity.svg", :class => "attr-pic svg" %>
								<div class="attr-text hidden">Activity</div>
							</div>
							<div class="event-attr party">
								<%= image_tag "Party.svg", :class => "attr-pic svg" %>
								<div class="attr-text hidden">A Party</div>
							</div>
						</div>
						<div class="event-attrs-2 food">
							<div class="event-attr food no-left">
								<%= image_tag "Food.svg", :class => "attr-pic svg" %>
								<div class="attr-text hidden">Food</div>
							</div>
							<div class="event-attr games">
								<%= image_tag "Games.svg", :class => "attr-pic svg" %>
								<div class="attr-text hidden">Games</div>
							</div>
							<div class="event-attr show">
								<%= image_tag "Show.svg", :class => "attr-pic svg" %>
								<div class="attr-text hidden">A Show</div>
							</div>
							<div class="event-attr shaman">
								<%= image_tag "Hookah.svg", :class => "attr-pic svg" %>
								<div class="attr-text hidden">A Shaman</div>
							</div>
						</div>
					</div>
					<div class="form-row event-dates">
						<div class="event-date-types gray">
							<div class="event-type round-left">Today</div>
							<div class="event-type">Tomorrow</div>
							<div class="event-type round-right">Any Time</div>
						</div>
					</div>

		
						<%= link_to public_events_path, :class => "invite-user", remote: true do %>
							<div id="new-open-event">
								New Event
							</div>
						<% end %>

				</div>
					
			</div>
		</div>
	</div>

		<div id="other-events-container">
		<div id="events-header-actions">
			<div id="upcoming-header" class="head-4 dark-gray">Open Events:</div>
				<div class="event-filter head-4 dark-gray selected" id="event-open">Open</div>
				<div class="event-filter head-4 dark-gray" id="event-going">Joined</div>
				<div class=" event-filter head-4 dark-gray" id="event-hosting">Hosting</div>
		</div>
			<div id="upcoming">
				<div id="events-box">
				</div>
			</div>
		</div>
		<div id="invite-modal-container" class="modal"></div>
	</div>

<%= link_to open_events_path, :class => "event-sort", remote: true do %>
	<div class="head-4 dark-gray selected hidden">Open</div>
<% end %>

<script>
	$('.event-sort').first().click()
</script>

<% if @welcome == "true" %>
		<div id="activation-container" class="welcome-container">
			<div id="welcome-form" class="dark-gray">
				<p id="top-welcome" class="head-4"><span class="heavy">If you're reading this, it's because you're awesome and someone told you about Cliq's private beta. Good for you. Welcome to Cliq!</p>
					
				<p id="bottom-welcome" class="head-5 gray">Please Enter a valid UCF email to continue.</p>

				<%= form_tag welcome_update_path, :class => "welcome-form", remote: true do %>
					<%= text_field_tag :email, nil, :class=> "welcome-email" %>
				<% end %>

				<div id="got-it" class="head-4">Okay, got it!</div>
			</div>
		</div>
	<% end %>

	<% if @welcome != "true" && current_user.email && current_user.email[-7..-1] != "ucf.edu" && !current_user.admin? %>
		<div id="activation-container" class="welcome-container">
			<div id="welcome-form" class="dark-gray">
				<p id="top-welcome" class="head-4"><span class="heavy">We're now requiring all users to validate their accounts with valid UCF emails. This helps better ensure your privacy and security. Thanks!</p>
					
				<p id="bottom-welcome" class="head-5 gray">Please Enter a valid UCF email to continue.</p>

				<%= form_tag welcome_update_path, :class => "welcome-form", remote: true do %>
					<%= text_field_tag :email, nil, :class=> "welcome-email" %>
				<% end %>

				<div id="got-it" class="head-4">Okay, got it!</div>
			</div>
		</div>
	<% end %>
<script>
	$('.content-container').removeClass('landing')
</script>
