<div class="event-modal">
	<div class="event-form-header">
			<div class="header-profile">
				<div class="head-3 dark-gray" id="sending">Sending invite to</div>
				<%= image_tag User.last.profile_pic_url, :class => "event-profile-pic" %>
				<div class="head-4 dark-gray" id="sending-name"><%= @user.name %></div>
			</div>
	</div>

	<%= form_for [@user, @event], :class => 'event-form', remote: true do |f| %>
		
		<div class="form-row first">
			<div class="event-form-label head-3 dark-gray">What:</div> 
			<%= f.text_field :title, :class => "form-input", placeholder: 'ex. Potluck of the Ages' %>
		</div>
		
		<div class="form-row">
			<div class="event-form-label head-3 dark-gray">Where:</div> 
			<%= f.text_field :location, :class => "form-input", placeholder: '34 Sharefood Rd. Tampa California' %>
		</div>
		
		<div id="or" class="head-4 dark-gray">
			or
		</div>
		
		<div class="form-row">
			 <%= f.select :partner_id, options_for_select([["Pick a place near your school", 0, {:class => "light-gray"}]] + @partners), :class => "form-input" %>
		</div>

		<div class="form-row hidden">
			<div id="hour-labels">
				<div class="day head-6 gray">Mon</div>
				<div class="day head-6 gray">Tues</div>
				<div class="day head-6 gray">Wed</div>
				<div class="day head-6 gray">Thurs</div>
				<div class="day head-6 gray">Fri</div>
				<div class="day head-6 gray">Sat</div>
				<div class="day head-6 gray">Sun</div>
			</div>

			<div id="hours">
				<div id="mon" class="hour head-6 gray"></div>
				<div id="tues" class="hour head-6 gray"></div>
				<div id="wed" class="hour head-6 gray"></div>
				<div id="thurs" class="hour head-6 gray"></div>
				<div id="fri" class="hour head-6 gray"></div>
				<div id="sat" class="hour head-6 gray"></div>
				<div id="sun" class="hour head-6 gray"></div>
			</div>
		</div>
		
		<div class="form-row">
			<div class="event-form-label head-3 dark-gray">When:</div> 
			<%= f.text_field :start_time, :class => "form-input", placeholder: 'Click to select from calendar' %> 
		</div>
		
		<div class="form-row">
			<div class="event-form-label head-3 dark-gray">How many?</div> 
			<div id="quantity-select"> 
				<%= f.select :quantity, (2..50), :class => 'small-form-input' %>
			</div>
		</div>
		
		<div class="form-row">
			<div class="event-form-label head-3 dark-gray">Upload Image:</div>
			  <%= f.file_field :image, :class => 'form-input-upload', id: "imgInp" %> 
			  <div id="upload-button"><div class="btn-text">Browse Files...</div></div>
		</div>

		<div class="form-row optional">
			<div class="event-form-label head-3 dark-gray">(Optional)</div>
			
		</div>


		

		<div class="form-row submit">	
			<div id="send-invite">
				<%= image_tag "Events.svg", :class => "invite-icon" %>
				<%= f.submit "SEND INVITE", id: "invite-submit" %>
			</div>
			<img id="preview" src="#" alt="preview failed to load" class="hidden" /> 
		</div>
	<% end %>
</div>


<script>
	$('#event_start_time').datetimepicker({
		dateFormat: 'yy-mm-dd',
    timeFormat: 'hh:mm:tt'
	})
	function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        
        reader.onload = function (e) {
            $('#preview').show()
            $('#preview').attr('src', e.target.result);
        }
        
        reader.readAsDataURL(input.files[0]);
    }
  }
    
  $("#imgInp").change(function(){
      readURL(this);
  });
</script>