<div class="event-modal">
	<div class="event-form-header">
			<div class="header-profile">
				<div class="head-3 white" id="sending">Open Event Setup</div>
			</div>
	</div>

	<%= form_for [@event], :class => 'event-form' do |f| %>
		
		<div class="form-row first">
			<!-- <div class="event-form-label head-3 dark-gray">What:</div>  -->
			<%= f.text_field :title, :class => "form-input", placeholder: "What's happening?" %>
		</div>
		
		<div class="form-row">
			<!-- <div class="event-form-label head-3 dark-gray">Where:</div>  -->
			<%= f.text_field :location, :class => "form-input", placeholder: 'Where?' %>
		</div>
		<div id="or" class="head-4 white">
			or
		</div>
		<%= f.hidden_field :closed, value: "public" %> 
		<div class="form-row">
			 <%= f.select :partner_id, options_for_select([["Pick a place near your school", 0, {:class => "light-gray"}]] + @partners), :class => "form-input" %>
		</div>

		<div class="form-row hidden white">
			<div id="hour-labels">
				<div class="day head-6">Mon</div>
				<div class="day head-6">Tues</div>
				<div class="day head-6">Wed</div>
				<div class="day head-6">Thurs</div>
				<div class="day head-6">Fri</div>
				<div class="day head-6">Sat</div>
				<div class="day head-6">Sun</div>
			</div>

			<div id="hours">
				<div id="mon" class="hour head-6"></div>
				<div id="tues" class="hour head-6"></div>
				<div id="wed" class="hour head-6"></div>
				<div id="thurs" class="hour head-6"></div>
				<div id="fri" class="hour head-6"></div>
				<div id="sat" class="hour head-6"></div>
				<div id="sun" class="hour head-6"></div>
			</div>
		</div>
		
		<div class="form-row">
			<!-- <div class="event-form-label head-3 dark-gray">When:</div>  -->
			<%= f.text_field :start_time, :class => "form-input", placeholder: 'When?' %> 
		</div>
		
		<div class="form-row">
			<!-- <div class="event-form-label head-3 dark-gray">More Info:</div>  -->
			<div id="quantity-select"> 
				<%= f.text_area :description, :class => 'form-input', placeholder: "Any Details?" %>
			</div>
		</div>
		
		<div class="form-row">
			<div class="event-form-label head-3 white">Upload Image:</div>
			  <%= f.file_field :image, :class => 'form-input-upload', id: "imgInp" %> 
			  <div id="upload-button"><div class="btn-text">Browse Files...</div></div>
		</div>

		<div class="form-row optional">
			<div class="event-form-label head-3 white">(Optional)</div>
			
		</div>


		

		<div class="form-row">	
			<div id="send-invite">
				<%= f.submit "SET IT LOOSE", id: "invite-submit" %>
			</div>
			<img id="preview" src="#" alt="preview failed to load" class="hidden" /> 
		</div>
	<% end %>
</div>


<script>
	$('#event_start_time').datetimepicker({
		dateFormat: 'yy-mm-dd',
    timeFormat: 'hh:mm:tt'
	})
	function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        
        reader.onload = function (e) {
            $('#preview').show()
            $('#preview').attr('src', e.target.result);
        }
        
        reader.readAsDataURL(input.files[0]);
    }
  }
    
  $("#imgInp").change(function(){
      readURL(this);
  });
</script>
<script>
  $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');

    $.get(imgURL, function(data) {
        // Get the SVG tag, ignore the rest
        var $svg = $(data).find('svg');

        // Add replaced image's ID to the new SVG
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        // Add replaced image's classes to the new SVG
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }
        // Remove any invalid XML tags as per http://validator.w3.org
        $svg = $svg.removeAttr('xmlns:a');
        // Replace image with new SVG
        $img.replaceWith($svg);
    }, 'xml');
  });
</script>