<div class="event-modal">
	<div class="event-form-header">
			<div class="header-profile">
				<div class="head-3 white" id="sending">Open Event Setup</div>
			</div>
	</div>


	<%= form_for [@event], :class => 'event-form', remote: true do |f| %>
		<div class="event-form-left">

			<div class="form-row first">
				<%= f.text_field :title, :class => "form-input", placeholder: "What's happening?" %>
			</div>
			
			<div class="form-row">
				<%= f.text_field :location, :class => "form-input", placeholder: 'Where?' %>
			</div>
			
			<% if browser.mobile? %>
				<div class="form-row">
					<%= f.datetime_select("start_time", discard_year: true, default: Time.now) %> 
				</div>
			<% else %>
				<div class="form-row"> 
					<%= f.text_field :start_time, :class => "form-input", placeholder: 'Click to select from calendar' %> 
				</div>
				<script>
					$('#event_start_time').datetimepicker({
						dateFormat: 'yy-mm-dd',
				    timeFormat: 'hh:mm:tt'
					})
				</script>
			<% end %>
			
			<div class="form-row">
				<div id="quantity-select"> 
					<%= f.text_area :description, :class => 'form-input', placeholder: "Any Details?" %>
				</div>
			</div>
			
			<div class="form-row">
				<div class="event-form-label event_pic_upload">Upload Image:</div>
				  <%= f.file_field :image, :class => 'form-input-upload', id: "imgInp" %> 
				  <div id="upload-button"><div class="btn-text">Browse Files...</div></div>
			</div>

			<div class="form-row optional">
				<div class="event-form-label event_pic_upload">(Optional)</div>
				
			</div>
		</div>

		<div class="event-form-right">
			<div class="form-row">
				<div class="event-quest">Is this a?</div>
				<div class="event-types">
					<div class="event-type round-left selected">Hangout</div>
					<div class="event-type">Party</div>
					<div class="event-type round-right">Event</div>
				</div>
			</div>
			<div class="form-row">
				<div class="event-quest">What'll be there?</div>
				<div class="event-attrs-1">
					<div class="event-attr no-left music">
						<%= image_tag "Mus.svg", :class => "attr-pic svg" %>
						<div class="attr-text">Music</div>
					</div>
					<div class="event-attr discussion">
						<%= image_tag "Discussion.svg", :class => "attr-pic svg" %>
						<div class="attr-text">Discussion</div>
					</div>
					<div class="event-attr activity">
						<%= image_tag "Activity.svg", :class => "attr-pic svg" %>
						<div class="attr-text">Activity</div>
					</div>
					<div class="event-attr party">
						<%= image_tag "Party.svg", :class => "attr-pic svg" %>
						<div class="attr-text">A Party</div>
					</div>
				</div>
				<div class="event-attrs-2 food">
					<div class="event-attr food no-left">
						<%= image_tag "Food.svg", :class => "attr-pic svg" %>
						<div class="attr-text">Food</div>
					</div>
					<div class="event-attr games">
						<%= image_tag "Games.svg", :class => "attr-pic svg" %>
						<div class="attr-text">Games</div>
					</div>
					<div class="event-attr show">
						<%= image_tag "Show.svg", :class => "attr-pic svg" %>
						<div class="attr-text">A Show</div>
					</div>
				</div>
			</div>

			<%= f.hidden_field :event_type, value: "Hangout"%>
			<%= hidden_field_tag :tags ,nil, :class => "tags"%>
			<%= hidden_field_tag :requirements ,nil, :class => "requirements"%>

				<div class="form-row">
					<div class="event-quest requirement-question">Any Requirements?</div>
					<div class="event-requirements">
						<div class="event-requirement no-left">
							<div class="require-text twenty-one">21+ </div>
						</div>
						<div class="event-requirement">
							<div class="require-text paid">Paid</div>
						</div>
					</div>
				</div>

		</div>




		

		<div class="form-row last">	
			<div id="send-invite">
				<%= f.submit "SET IT LOOSE", id: "invite-submit" %>
			</div>
			<img id="preview" src="#" alt="preview failed to load" class="hidden" /> 
		</div>
	<% end %>
</div>


<script>

	function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        
        reader.onload = function (e) {
            $('#preview').show()
            $('#preview').attr('src', e.target.result);
            $('#invite-submit').val('SET IT LOOSE')
        }
        
        reader.readAsDataURL(input.files[0]);
    }
  }
    
  $("#imgInp").change(function(){
      $('#invite-submit').val('Uploading...')
      readURL(this);
  });
</script>
<script>
  $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');

    $.get(imgURL, function(data) {
        // Get the SVG tag, ignore the rest
        var $svg = $(data).find('svg');

        // Add replaced image's ID to the new SVG
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        // Add replaced image's classes to the new SVG
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }
        // Remove any invalid XML tags as per http://validator.w3.org
        $svg = $svg.removeAttr('xmlns:a');
        // Replace image with new SVG
        $img.replaceWith($svg);
    }, 'xml');
  });
    $(".invite-modal-container").css({top: "", left: "", marginTop: "", marginLeft: ""})
</script>