
<div id="full-page">
	<div class="container section landing-section" id="section-1">
		<div class="main-info">
			<p class="parties roboto">Parties</p>
			<p class="landing-desc main">Are just one way to have<br> fun in college</p>
			<p class="cards">...Cards Against Humanity<br>counts too...</p>
		</div>	
	</div>
	<div class="section landing-section" id="section-2">
		<%= image_tag "phoneA.png", id: "macaphone"%>
		<div class="main-info">
			<p class="parties roboto">Sift</p>
			<p class="landing-desc main">through chill<br>hangouts, parties, and<br>events to find ones<br>you like</p>
		</div>	
	</div>
	<div class="section landing-section" id="section-3">
		<%= image_tag "phoneB.png", id: "macaphone"%>
		<div class="main-info">
			<p class="parties roboto">Chat</p>
			<p class="landing-desc main">with others going to the<br>same event to plan<br>share info & hype it up</p>
		</div>	
	</div>
	<div class="section landing-section" id="section-4">
		<%= image_tag "phoneC.png", id: "macaphone"%>
		<div class="main-info">
			<p class="parties roboto">Plan</p>
			<p class="landing-desc main">your own hangout,<br>raging party,<br>or awesome event for<br>your fellow students.</p>
		</div>	
	</div>
</div>
<div id="bottom-nav" class="gray">
	<p class="landing-logo">Cliq</p>
	<p class="landing-desc main">Find awesome people.<br>Do awesome things.</p>
	<div class="sign-up-box">
		<a href="/auth/facebook" %>
			<div class="fb-sign-up-btn">
				<div class="fb-logo">
					<%= image_tag "fb_logo.png", :class => "fb-letter" %>
				</div>
				<div class="sign-up-text">Sign up with Facebook</div>
			</div>
		</a>
		<div class="sign-up-info">
              <p class="conditions gray">By signing up, you agree to our <font color="#BEBEBE">terms and conditions</font></p>
			<p class="login gray">Don't worry, we will never post to your Facebook</p>
		</div>
	</div>
	<%= link_to faq_path do %>
		<p id="faq">FAQ</p>
	<% end %>
</div>

<script>
$(document).ready(function() {
	$('body').css('padding-left', '0px')
})
</script>



