<div class="mobile container">
	<div class="main-info" class="mobile">
		<p class="mobile landing-logo">Cliq</p>
		<p class="mobile landing-desc">Meet Awesome People</p>
	 	<p class="mobile landing-desc">Do Awesome Things</p>
		

		<div class="mobile sign-up-box">
			<a href="/auth/facebook" %>
				<div class="mobile fb-sign-up-btn">
					<div class="mobile fb-logo">
						<%= image_tag "fb_logo.png", :class => "fb-letter mobile" %>
					</div>
					<div class="mobile sign-up-text">Signup with Facebook</div>
				</div>
			</a>
			<div class="mobile sign-up-info">
				<p class="mobile conditions white">Don't worry, we will never post to your Facebook.</p>
			</div>
		</div>
	</div>
	<div class="main-info" class="mobile">
		<div class="mobile-title roboto">Sift</div>
		<p class="mobile landing-desc">through chill hangouts,<br>parties, and events to<br>find ones you like</p>
		

		<div class="mobile sign-up-box">
			<%= image_tag "phoneMA.png", class: "phone-pic" %>
		</div>
	</div>
	<div class="main-info" class="mobile">
		<div class="mobile-title roboto">Chat</div>
		<p class="mobile landing-desc">with others going to the<br>same event to plan, share<br>info and hype it up.</p>
		

		<div class="mobile sign-up-box">
			<%= image_tag "phoneMB.png", class: "phone-pic" %>
		</div>
	</div>
	<div class="main-info" class="mobile">
		<div class="mobile-title roboto">Share</div>
		<p class="mobile landing-desc">your own hangout, raging<br>party or awesome event<br>for your fellow students</p>
		

		<div class="mobile sign-up-box">
			<%= image_tag "phoneMC.png", class: "phone-pic" %>
		</div>
		<p class="mobile landing-desc">Find your people.</p>
	</div>
	<div class="main-info" class="mobile">		
		<div class="mobile sign-up-box">
			<a href="/auth/facebook" %>
				<div class="mobile fb-sign-up-btn bottom">
					<div class="mobile fb-logo">
						<%= image_tag "fb_logo.png", :class => "fb-letter mobile" %>
					</div>
					<div class="mobile sign-up-text">Signup with Facebook</div>
				</div>
			</a>
			<div class="mobile sign-up-info">
				<p class="mobile conditions white">Don't worry, we will never post to your Facebook.</p>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function() {
	$('body').css('padding-left', '0px')
	$('.content-container').addClass('home')
})
</script>



