<!-- <div class="landing-background">
	<div class="section-overlay"></div>	
</div>
<div class="container section landing-section" id="section-1">
	<p class="cliq">Cliq</p>
	<a href="/auth/facebook" %>
		<div class="sign-in">Sign In</div>
	</a>
	<div class="main-info">
		<div class="title-main roboto"><span class="orange">FIVE</span> NEW FACES<br>EVERY WEEK</div>
		<p class="title-sub">Could be five new friends.<br>Punch loneliness and boredom in the face.</p>
		<div class="btn-row">
			<a href="/auth/facebook" %>
				<div class="fb-sign-up-btn sign-up-btn">
					<div class="fb-logo">
						<%= image_tag "fb_logo.png", :class => "fb-letter" %>
					</div>
					<div class="sign-up-text">PUNCH IT</div>
				</div>
			</a>
			<div class="sign-up-btn scroll-down">
					<div class="sign-up-text">
						I'm a pacifist
						<%= image_tag "smallarrow.svg", :class => "small-arrow" %>
					</div>
				</div>
		</div>
	</div>	
	<%= image_tag "bigarrow.svg", :class => "big-arrow scroll-down" %>
</div>

<div class="section" id="section-2">
	<div class="main-info">
		<div class="title-main roboto">STEP OUTSIDE OF YOUR COMFORT ZONE</div>
		<div class="sec-details">
			<div class="sec-detail">
				<div class="sec-pic-text">Placeholder</div>
				<%= image_tag "landing-1.jpg", :class => "sec-pic" %>
			</div>
			<div class="sec-detail">
				<div class="sec-pic-text">Placeholder</div>
				<%= image_tag "landing-1.jpg", :class => "sec-pic" %>
			</div>
		</div>
	</div>	
</div>

<div class="section" id="section-3">
	<div class="main-info">
		<div class="landing-activities">
			CALL OF DUTY • PICK UP SOCCER • PIZZA RUN • CARDS AGAINST HUMANITY • NETFLIX WITH ACTUAL PEOPLE• HIKING TRIP • LAN PARTY • GUITAR JAM SESSION • SKINNY DIPPING 
		</div>
		<div class="btn-row">
			<a href="/auth/facebook" %>
				<div class="fb-sign-up-btn sign-up-btn">
					<div class="fb-logo">
						<%= image_tag "fb_logo.png", :class => "fb-letter" %>
					</div>
					<div class="sign-up-text">HELL YEAH</div>
				</div>
			</a>
		</div>
	</div>	
</div>

<div class="section" id="section-4">
	<div class="main-info">
		<div class="sec-details">
			<div class="sec-detail">
				<div class="sec-pic-text">Tell us who you are and what you like to do</div>
				<%= image_tag "landing-1.jpg", :class => "sec-pic" %>
			</div>
			<div class="sec-detail">
				<div class="sec-pic-text">We'll find 5 other students like you</div>
				<%= image_tag "landing-1.jpg", :class => "sec-pic" %>
			</div>
			<div class="sec-detail">
				<div class="sec-pic-text">A Cliq is born.<br> Shenanigans ensue.</div>
				<%= image_tag "landing-1.jpg", :class => "sec-pic" %>
			</div>
		</div>
	</div>	
</div>

<div class="section" id="section-5">
	<div class="main-info">
		<div class="title-main roboto">CRUSH BOREDOM</div>
		<div class="btn-row">
			<a href="/auth/facebook" %>
				<div class="fb-sign-up-btn sign-up-btn">
					<div class="fb-logo">
						<%= image_tag "fb_logo.png", :class => "fb-letter" %>
					</div>
					<div class="sign-up-text">CRUSH IT</div>
				</div>
			</a>
			<div class="sign-up-btn scroll-down">
					<div class="sign-up-text">
						I'm a Square
					</div>
				</div>
		</div>
	</div>
	</div>	
</div>

 -->

<a href="/auth/facebook" %>
 <%= image_tag 'homepageshit.png', :class => "homepageshit" %>
</a>

