<div class="content-container">
    <%= render partial: "side_nav", locals: {active: :critiq} %>
	<div id="search-container">
		<div id="query">
			<%= form_tag search_path, id: "search-form", remote: true do %>
				<div id="query-1" class="head-3 white">I want to hang out in</div>
				<%= text_field_tag :location, nil, :class => "head-3 dark-gray search-term", id: "query-location", placeholder: "City, State" %>
				<%= hidden_field_tag "location_id" %>
				<div id="query-2" class="head-3 white">with people interested in</div>
				<div id="query-interests" class="head-3 dark-gray">
					<%= text_field_tag :activity, nil, :class => "query-interest search-term" %>
				</div>
				<%= submit_tag "Search", :class => "green head-3", id:"search-query" %> 
				<%= hidden_field_tag "ids" %>
			<% end %>
		</div>

	</div>

	<div id="results-container">
		<div id="results-header">
			<div id="found" class="head-2">Here's who we found:</div>
			<div id="sort-term" class="head-3 light-gray">Distance</div>
			<div id="sort-by" class="head-3 light-gray">Sort by:</div>
		</div>
		

		<div id="results">
			<%= render partial: 'search_results', locals: {results: @results} %>
		</div>
	</div>
</div>

<div id="invite-modal-container" class="modal">

</div>

<script>
<%= render partial: 'subscribe.js.erb' %>
</script>





