<div class="content-container">
	<%= render partial: 'users/side_nav', locals: {active: :profile} %>


	<div id="categories-header">
		<div id="cat-header-content" class="head-4 dark-gray">
			What do you
			<%= link_to choose_cat_path @categories[1] do %>
				<span id="do" class="cat-action <%= doing? 'Do' %> ">Do</span>
			<% end %>
			<%= link_to choose_cat_path @categories[2] do %>
				<span id="listen-to" class="cat-action <%= doing? 'Music' %>">Listen to</span>
			<% end %>
			<%= link_to choose_cat_path @categories[3] do %>
				<span id="watch" class="cat-action <%= doing? 'Watch' %>">Watch</span>
			<% end %>
			<%= link_to choose_cat_path @categories[0] do %>
				<span id="discuss" class="cat-action <%= doing? 'Discuss' %>">Discuss</span>
			<% end %>
			?
		</div>
	</div>


		<%= render partial: 'show', locals: {category: @category, act: @act} %>

	<div id="categories-footer">
			<% if @interests < 8 %>
				<div id="cat-footer-content" class="head-4 gray">
					<div id="cat-footer-text">
						<p id="line-1">pick <span class="dark-gray" id="like-count"> <%= 8 - @interests %></span> or more options from any combination of categories to finish!</p>
						<p id="line-2">
							you can always come back to edit your choices
						</p>
					</div>
				</div>
				<div id="cat-actions">
					<div id="next-cat" class="head-3 dark-gray hidden gray-hover">
						<% if @category.name != "Discuss" %> 
							NEXT 
						<% end %>
					</div>
					<div id="finish" class="head-3 dark-gray hidden gray-hover">
						<%= link_to "FINISH", user_path(current_user) %>
					</div>
				</div>
			<% else %>
				<div id="cat-actions">
					<div id="next-cat" class="head-3 dark-gray gray-hover">
						<% if @category.name != "Discuss" %> 
							NEXT 
						<% end %>
					</div>
					<div id="finish" class="head-3 dark-gray gray-hover">
						<%= link_to "FINISH", user_path(current_user) %>
					</div>
				</div>
			<% end %>
	</div>
</div>
<script>
$('body').addClass('background-gray')
</script>