<script>
	$('.menu-icon').remove()
	$('.menu-title').hide()
	$('.top-nav').append("<div class='tut-header unfinished'>Pick <span id='int-number'></span> More</div>")
	$('.top-nav').append("<div class='tut-header finished hidden'>Tap to Finish</div>")
	$('.top-nav').append("<a href='/tutorial'><span class='back-tut'>Back</span><a>")
</script>
<div class="interests-self tut">
		<div class="cat-collection">
			<% @categories.each do |cat| %>
					<div class="scroll-cat" id="c-<%= cat.id %>">
<pre class="scroll-cat-name"><% cat.mobile_name.each do |word| %><%= word %><br><% end %></pre>
						<%= image_tag cat.thumb_image_url, :class => "scroll-cat-pic" %>
						<div class="overlay"></div>
					</div>
					<div class="scroll-acts hidden">
						<% cat.activities.order(:name).each do |act| %>
							
								<div class="scroll-act <%= 'chosen' if @act_list.include?(act.id) %>">
									<%= link_to interests_path(act_id: act.id, nothing: true), remote: true, method: :post, class: 'add-other-act' do %>
										<div class="scroll-act-name"><%= act.super_short_name %></div>
									<% end %>
								</div>
						<% end %>
					</div>
			<% end %>
		</div>
	<div class="all-scroll-acts tut">
	</div>
	<div class="profile-actions green tut">
			<%= form_for @act, remote: true do |f| %>
				<%= f.text_field :name, :class => "act-name-input head-4 fb-enabled", placeholder: "Suggest"%>
				<%= f.hidden_field :category_id, value: @category.id %>
				<%= f.hidden_field :suggested_by, value: current_user.id %>
				<%= f.submit "Suggest", id: "submit-act", :class => "head-4 hidden" %>
			<% end %>

			<%= form_tag quick_create_path, id: "quick-search", remote: true do %>
				<%= text_field_tag :activities, nil, id: "self-search", :class => "head-4 quick-search-acts fb-enabled", placeholder: "Quick Search" %>
				<div class="hidden interest-info"></div>
				<%= hidden_field_tag :act_id %>
				<%= submit_tag "Add", id: "submit-quick-search", :class => "head-4 hidden" %>
			<% end %>
		</div>
</div>
<script>
	$(document).ready(function(){
		$($('.overlay')[1]).trigger('touchstart')
		var intCount = 8 - $('.cat-collection .chosen').length
		$('#int-number').text( intCount )
		if (intCount < 1) {
			$('.unfinished').hide()
			$('.finished').show()
		}
	})
</script>

<div id="welcome-tut" class="hidden">
	<div class="welcome-text">
		<div class="instructions-1 wel-text">Just a couple more things to know:</div>
		<div class="wel-text">Find people with similar interests<br>by using
			<span class="light-turq">Shuffle</span> or <span class="light-turq">Search</span> 
		</div>
	</div>
	<div class="welcome-similarities">
		<div class="wel-group">
			<span class="orange">Shared</span> Interests
			<div class="welcome-similarity mutual-box">
				<%= image_tag ('Mutual.svg'), :class => "wel-pic wel-mutual svg" %>
			</div>
		</div>
		<div class="wel-group">
			<span class="orange">Similar</span> Interests
			<div class="welcome-similarity sim-box">
				<%= image_tag ('Similar.svg'), :class => "wel-pic wel-sim svg" %>
			</div>
		</div>
	</div>
	<div class="welcome-text">
		<div class="wel-text">Pictures are revealed once both<br>people start messaging each other.</div>
		<div class="wel-text">And once you start chatting, you can<br>
			<span class="light-turq">Invite</span> each other to hang out. 
		</div>
	</div>

	<%= link_to main_path do %>
		<div class="wel-gotit">
			Got it!
		</div>
	<% end %>
</div>



<script>
  $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');

    $.get(imgURL, function(data) {
        // Get the SVG tag, ignore the rest
        var $svg = $(data).find('svg');

        // Add replaced image's ID to the new SVG
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        // Add replaced image's classes to the new SVG
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }
        // Remove any invalid XML tags as per http://validator.w3.org
        $svg = $svg.removeAttr('xmlns:a');
        // Replace image with new SVG
        $img.replaceWith($svg);
    }, 'xml');
  });
</script>

