<div id="categories-content-container" >
		

	<div id="cat-content" class="activity-content">
		<div id="cat-question" class="head-4 dark-gray act-page">
			<%= category.ask %>
		</div>
		<% if category.parent %>
		<%= link_to category_path(category.parent), remote: true, class: 'back-link' do  %>
			<div id="cat-act-back" class="dark-gray head-4">
				<span id="back-text"><< Back to <%= category.parent.name %></span>
			</div>
		<% end %>
		<% end %>
		<div id="finished" class="head-4 gray">
			Finished?
		</div>

		<div id="activities">
			<% not_liked.each do |act| %>
				
				<%= render partial: 'interests/act', locals: {act: act} %>
			<% end %>
		</div>

		<div id="chosen-acts">
			<% liked.each do |act| %>
				<%= render partial: 'interests/chosen_act', locals: {act: act, interest: Interest.where(activity_id: act.id, user_id: current_user.id).first} %>
			<% end %>
		</div>
	</div>
</div>

<script>
	$('#activity_category_id').val('<%= category.id %>')
</script>