<div id="categories-content-container">
		<div id="quick-search-container">
		<%= form_tag quick_create_path, id: "quick-search", remote: true do %>
			<div id="quick-search-text" class="head-4">Quick Search</div>
			<%= text_field_tag :activities, nil, id: "quick-search-acts", :class => "head-4", placeholder: "Type an Interest" %>
			<%= hidden_field_tag :act_id %>
			<%= submit_tag "Add", id: "submit-quick-search", :class => "head-4" %>
		<% end %>

		<div id="suggestion-container">
			<%= form_for act, remote: true do |f| %>
				<%= f.text_field :name, :class => "act-name-input head-4", placeholder: "Suggest one!" %>
				<div id="suggest-text" class="head-4">Interest not listed?</div>
				<%= f.hidden_field :category_id, value: category.id %>
				<%= f.hidden_field :suggested_by, value: current_user.id %>
				<%= f.submit "Suggest", id: "submit-act", :class => "head-4 hidden" %>
			<% end %>
		</div>
	</div>

	<div id="cat-content">
		<div id="cat-question" class="head-4 dark-gray">
			<%=  category.ask %>
		</div>
		<%= link_to category_path(category.parent), remote: true, class: 'back-link' do  %>
			<div id="cat-act-back" class="dark-gray head-4">
				<span id="back-text"><< Back to categories</span>
			</div>
		<% end %>
		<div id="finished" class="head-4 gray">
			Finished?
		</div>

		<div id="activities">
			<div id="arrow-container">
				<%= image_tag "arrow.png", id: "arrow" %>
				<div id="arrow-text" class="gray head-4">
					Click to Add
				</div>
			
			</div>
			<% not_liked.each do |act| %>
				
				<%= render partial: 'interests/act', locals: {act: act} %>
			<% end %>
		</div>

		<div id="chosen-acts">
			<% liked.each do |act| %>
				<%= render partial: 'interests/chosen_act', locals: {act: act, interest: Interest.where(activity_id: act.id, user_id: current_user.id).first} %>
			<% end %>
		</div>
	</div>
</div>