<!DOCTYPE html>
<html>
<head>
  <!-- Begin Inspectlet Embed Code -->
<script type="text/javascript" id="inspectletjs">
  window.__insp = window.__insp || [];
  __insp.push(['wid', 1446173625]);
  (function() {
    function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
    if (window.attachEvent){
      window.attachEvent('onload', __ldinsp);
    }else{
      window.addEventListener('load', __ldinsp, false);
    }
  })();
</script>
<!-- End Inspectlet Embed Code -->
  <title>Cliq</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://faye-server-10.herokuapp.com/faye/faye.js" %>
  <%= favicon_link_tag 'cliq-fav.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="//use.typekit.net/mdx8vro.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body class="mobile">
<% if current_user %>
   <%= render partial: "users/top_nav", locals: {active: :none} %>
   <script>
   		$('.content-container').css('margin-top' , '44px')
   </script>
<% end %>
<div class="content-container mobile">
<%= yield %>
</div>

<script>
<%= render partial: 'users/subscribe.js.erb' %>
</script>

<% if current_user %>
   <script>
   		$('.content-container').css('margin-top' , '44px')
   </script>
<% end %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53259324-1', 'auto');
</script>

</body>
</html>
